<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<<<<<<< HEAD
    <%- include("css/common.ejs") %>
    <%- include("css/tabela.ejs") %>
=======
    <%- include("../css/common.ejs") %>
    <%- include("../css/tabela.ejs") %>
>>>>>>> development
    <style>
        .item-border {
            padding: 5px;
            border: 1px solid;
        }
    </style>
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
</head>

<body>
    <div class="flex flex-column">
        <div class="text-center item-border">
            <%= nome_escola %>
        </div>
        <div class="flex grow">
            <div class="grow text-center item-border">
                <%= etapa_escolaridade %> 
            </div>
            <div class="text-center item-border">
                <div style="padding: 0 50px;">
                    <%= turno %> 
                </div>
            </div>
            <div class="text-center item-border">
                <div style="padding: 0 30px;">
                    <%= ano_letivo %> 
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>2ª Feira</td>
                <td>3ª Feira</td>
                <td>4ª Feira</td>
                <td>5ª Feira</td>
                <td>6ª Feira</td>
                <td>Sábado</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</body>

</html>