<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include("../css/common.ejs") %>
    <%- include("../css/tabela.ejs") %> 
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
</head>
<body>
    <%- include("../reusable/header-escola.ejs") %> 
    <div class="campos">
        <div class="flex flex-column small-gap">
            <div class="multicolumn">
                <b class="pad-right">Instituição de Ensino:</b>
                <div class="text-line"><%= nome_escola %></div>
            </div>
            <div class="multicolumn">
                <b class="pad-right">Prof. (a):</b>
                <div class="text-line"><%= nome_professor %></div>
            </div>
            <div class="flex" style="gap: 5px;">
                <div class="multicolumn">
                    <b class="pad-right">Etapa de Escolaridade:</b>
                    <div class="text-line"><%= etapa_escolaridade %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Ano/Turma:</b>
                    <div class="text-line"><%= ano_turma %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Ano Letivo:</b>
                    <div class="text-line"><%= ano_letivo %></div>
                </div>
            </div>
            <div class="flex" style="gap: 5px;">
                <div class="multicolumn">
                    <b class="pad-right">Área do Conhecimento:</b>
                    <div class="text-line"><%= area_conhecimento %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Componente Curricular:</b>
                    <div class="text-line"><%= componente_curricular %></div>
                </div>
                <div class="inline" style="max-width: 300px;">
                    <b class="pad-right">Data:</b>
                    <div class="text-line small-text"><%= data %></div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="page-title">PLANEJAMENTO ANUAL</h3>
    <table class="table">
        <thead>
            <tr>
                <td class="bg-color item-padding">TEMAS/CONTEÚDOS</td>
                <td class="bg-color item-padding">OBJETIVOS/HABILIDADES</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <% temas_conteudos.split("\n").forEach(text => { %>
                        <%= text %><br>
                    <% }) %>
                </td>
                <td>
                    <% objetivos_habilidades.split("\n").forEach(text => { %>
                        <%= text %><br>
                    <% }) %> 
                </td>
            </tr>
        </tbody>
    </table>
    <div class="page-break">
        <div class="flex flex-column">
            <div class="flex flex-column">
                <div class="bg-color text-center item-border item-padding">PROCEDIMENTO DIDÁTICO/METODOLOGICAS</div>
                <div class="item-border item-padding">
                    <%= procedimento_didatico %>
                </div>
            </div>  
            <div class="flex flex-column">
                <div class="bg-color text-center item-border item-padding">RECURSOS MATERIAIS</div>
                <div class="item-border item-padding">
                    <%= recursos_materiais %>
                </div>
            </div>
            <div class="flex flex-column">
                <div class="bg-color text-center item-border item-padding">AVALIAÇÃO</div>
                <div class="item-border item-padding">
                    <%= avaliacao %>
                </div>
            </div>
            <div class="flex flex-column">
                <div class="bg-color item-padding item-border text-center">
                    REFERÊNCIAS
                </div>
                <div class="item-border item-padding">
                    <% referencias.split("\n").forEach(texto => { %>
                        <%= texto %><br>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>