<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/common.ejs") %>
    <%- include("../css/tabela.ejs") %> 
</head>

<body>
    <%- include("../reusable/header-escola.ejs") %>
        <div class="campos">
            <div class="flex flex-column small-gap">
                <div class="multicolumn">
                    <b class="pad-right">Instituição de Ensino:</b>
                    <div class="text-line"><%= nome_escola %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Prof (a):</b>
                    <div class="text-line"><%= nome_professor %></div>
                </div>
                <div class="multicolumn">
                    <div class="inline">
                        <b class="pad-right">Etapa de Escolaridade:</b>
                        <div class="text-line"><%= etapa_escolaridade %></div>
                    </div>
                    <div class="inline">
                        <b class="pad-right">Ano/Turma:</b>
                        <div class="text-line"><%= ano_turma %></div>
                    </div>
                    <div class="inline">
                        <b class="pad-right">Ano Letivo:</b>
                        <div class="text-line"><%= ano_letivo %></div>
                    </div>
                </div>
                <div class="multicolumn">
                    <div class="inline">
                        <b>Área de Conhecimento:</b>
                        <div class="text-line"><%= area_conhecimento %></div>
                    </div>
                    <div class="inline">
                        <b>Componente Curricular:</b>
                        <div class="text-line"><%= componente_curricular %></div>
                    </div>
                    <div class="inline" style="max-width: 200px;">
                        <b class="pad-right">Data:</b>
                        <div class="text-line small-text"><%= data %></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-top">
            <div class="page-title">
                <b>
                PLANEJAMENTO ANUAL
            </b>
            </div>
            <div class="margin-top">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="bg-color">UNIDADE TEMÁTICA</th>
                            <th class="bg-color">OBJETOS DE<br>CONHECIMENTO</th>
                            <th class="bg-color">HABILIDADES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% planejamentos.forEach(item => { %>
                            <tr>
                                <td>
                                    <%= item.unidade_tematica %>
                                </td>
                                <td>
                                    <% item.objetivos_conhecimento.forEach(text => { %>
                                        <%= text %> <br>
                                    <% }) %> 
                                </td>
                                <td>
                                    <% item.habilidades.forEach(text => { %>
                                        <%= text %> <br>
                                    <% }) %> 
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="page-break">
                <div class="flex flex-column">
                    <div class="bg-color text-center item-padding">
                        10 (DEZ) COMPETÊNCIAS GERIAS
                    </div>
                    <div class="item-padding item-border">
                        <b>1.</b> Valorizar e utilizar os conhecimentos historicamente construídos sobre o mundo físico, social, cultural e digital para entender e explicar a realidade, continuar aprendendo e colaborar para a construção de uma sociedade justa, democrática e inclusiva.
                        <br>
                        <b>2.</b> Exercitar a curiosidade intelectual e recorrer à abordagem própria das ciências, incluindo a investigação, a reflexão, a análise crítica, a imaginação e a criatividade, para investigar causas, elaborar e testar hipóteses, formular
                        e resolver problemas e criar soluções (inclusive tecnológicas) com base nos conhecimentos das diferentes áreas.
                        <br>
                        <b>3.</b> Valorizar e fruir as diversas manifestações artísticas e culturais, das locais às mundiais, e também participar
                        de práticas diversificadas da produção artístico-cultural.
                        <br>
                        <b>4.</b> Utilizar diferentes linguagens – verbal (oral ou visual-motora, como Libras, e escrita), corporal, visual, sonora e digital –, bem como conhecimentos das linguagens
                        artística, matemática e científica, para se expressar e partilhar informações, experiências, ideias e sentimentos em diferentes contextos, além de produzir sentidos que levem ao entendimento mútuo.
                        <br>
                        <b>5.</b> Compreender, utilizar e criar tecnologias digitais de informação e comunicação de forma crítica, significativa, reflexiva e ética nas diversas práticas sociais (incluindo as escolares) para se comunicar, acessar e disseminar informações, produzir conhecimentos,
                        resolver problemas e exercer protagonismo e autoria na vida pessoal e coletiva.
                        <br>
                        <b>6.</b> Valorizar a diversidade de saberes e vivências culturais, apropriar-se de conhecimentos e experiências que lhe possibilitem entender as relações
                        próprias do mundo do trabalho e fazer escolhas alinhadas ao exercício da cidadania e ao seu projeto de vida, com liberdade, autonomia, consciência crítica e responsabilidade.
                        <br>
                        <b>7.</b> Argumentar com base em fatos, dados e informações confiáveis, para formular, negociar e defender ideias, pontos de vista e decisões comuns que respeitem e promovam os direitos humanos, a consciência socioambiental e o consumo responsável em âmbito local, regional e global, com
                        posicionamento ético em relação ao cuidado de si mesmo, dos outros e do planeta.
                        <br>
                        <b>8.</b> Conhecer-se, apreciar-se e cuidar de sua saúde física e emocional, compreendendo- se na diversidade humana e reconhecendo suas emoções e as dos
                        outros, com autocrítica e capacidade para lidar com elas.
                        <br>
                        <b>9.</b> Exercitar a empatia, o diálogo, a resolução de conflitos e a cooperação, fazendo-se respeitar e promovendo o respeito ao outro e aos direitos humanos, com acolhimento
                        e valorização da diversidade de indivíduos e de grupos sociais, seus saberes, suas identidades, suas culturas e suas potencialidades, sem preconceitos de qualquer natureza.
                        <br>
                        <b>10.</b> Agir pessoal e coletivamente com autonomia, responsabilidade, flexibilidade, resiliência e determinação, tomando decisões com base em princípios éticos, democráticos, inclusivos, sustentáveis e solidários.
                    </div>
                </div>
            </div>
            <div class="page-break">
                <div class="bg-color text-center item-padding">
                    COMPETÊNCIAS ESPECÍFICAS DA ÁREA DE CONHECIMENTO
                </div>
                <div class="item-padding item-border">
                    <% if (area_conhecimento.trim().toLowerCase() === "linguagens") { %>
                        <b>1.</b> Compreender as linguagens como construção humana, histórica, social e cultural, de natureza dinâmica, reconhecendo-as e valorizando-as como formas de significação da realidade e expressão de subjetividades e identidades sociais e
                        culturais.
                        <br>
                        <b>2.</b> Conhecer e explorar diversas práticas de linguagem (artísticas, corporais e
                        linguísticas) em diferentes campos da atividade humana para continuar
                        aprendendo, ampliar suas possibilidades de participação na vida social e
                        colaborar para a construção de uma sociedade mais justa, democrática e
                        inclusiva.
                        <br>
                        <b>3.</b> Utilizar diferentes linguagens – verbal (oral ou visual-motora, como Libras, e
                        escrita), corporal, visual, sonora e digital –, para se expressar e partilhar
                        informações, experiências, ideias e sentimentos em diferentes contextos e produzir
                        sentidos que levem ao diálogo, à resolução de conflitos e à cooperação.
                        <br>
                        <b>4.</b> Utilizar diferentes linguagens para defender pontos de vista que respeitem o outro
                        e promovam os direitos humanos, a consciência socioambiental e o consumo
                        responsável em âmbito local, regional e global, atuando criticamente frente a
                        questões do mundo contemporâneo.
                        <br>
                        <b>5.</b> Desenvolver o senso estético para reconhecer, fruir e respeitar as diversas
                        manifestações artísticas e culturais, das locais às mundiais, inclusive aquelas
                        pertencentes ao patrimônio cultural da humanidade, bem como participar de
                        práticas diversificadas, individuais e coletivas, da produção artístico-cultural, com
                        respeito à diversidade de saberes, identidades e culturas.
                        <br>
                        <b>6.</b> Compreender e utilizar tecnologias digitais de informação e comunicação de forma
                        crítica, significativa, reflexiva e ética nas diversas práticas sociais (incluindo as
                        escolares), para se comunicar por meio das diferentes linguagens e mídias,
                        produzir conhecimentos, resolver problemas e desenvolver projetos autorais e
                        coletivos.
                    <% } %>
                    <% if (area_conhecimento.trim().toLowerCase() === "ciências humanas") { %>
                        <b>1.</b> Compreender a si e ao outro como identidades diferentes, de forma a exercitar o respeito
                        à diferença em uma sociedade plural e promover os direitos humanos.
                        <br>
                        <b>2.</b> Analisar o mundo social, cultural e digital e o meio técnico-científico-
                        -informacional com base nos conhecimentos das Ciências Humanas, considerando suas
                        variações de significado no tempo e no espaço, para intervir em situações do cotidiano 
                        e se posicionar diante de problemas do mundo contemporâneo.
                        <br>
                        <b>3.</b> Identificar, comparar e explicar a intervenção do ser humano na natureza e na
                        sociedade, exercitando a curiosidade e propondo ideias e ações que contribuam para a
                        transformação espacial, social e cultural, de modo a participar efetivamente das
                        dinâmicas da vida social.
                        <br>
                        <b>4.</b> Interpretar e expressar sentimentos, crenças e dúvidas com relação a si mesmo, aos
                        outros e às diferentes culturas, com base nos instrumentos de investigação das Ciências
                        Humanas, promovendo o acolhimento e a valorização da diversidade de indivíduos e de
                        grupos sociais, seus saberes, identidades, culturas e potencialidades, sem preconceitos
                        de qualquer natureza.
                        <br>
                        <b>5.</b> Comparar eventos ocorridos simultaneamente no mesmo espaço e em espaços
                        variados, e eventos ocorridos em tempos diferentes no mesmo espaço e em espaços
                        variados.
                        <br>
                        <b>6.</b> Construir argumentos, com base nos conhecimentos das Ciências Humanas, para
                        negociar e defender ideias e opiniões que respeitem e promovam os direitos humanos
                        e a consciência socioambiental, exercitando a responsa- bilidade e o protagonismo
                        voltados para o bem comum e a construção de uma sociedade justa, democrática e
                        inclusiva.
                        <br>
                        <b>7.</b> Utilizar as linguagens cartográfica, gráfica e iconográfica e diferentes gêneros textuais e
                        tecnologias digitais de informação e comunicação no desenvolvimento do raciocínio
                        espaço-temporal relacionado a localização, distância, direção, duração, simultaneidade,
                        sucessão, ritmo e conexão.
                    <% } %>
                </div>
                <div class="bg-color text-center item-padding">
                    COMPETÊNCIAS ESPECÍFICAS DO COMPONENTE CURRICULAR
                </div>
                <div class="item-padding item-border">
                    <% if (componente_curricular.trim().toLowerCase() === "arte") { %>
                        <b>1.</b> Explorar, conhecer, fruir e analisar criticamente práticas e produções artísticas e
                        culturais do seu entorno social, dos povos indígenas, das comunidades tradicionais
                        brasileiras e de diversas sociedades, em distintos tempos e espaços, para reconhecer
                        a arte como um fenômeno cultural, histórico, social e sensível a diferentes contextos
                        e dialogar com as diversidades.
                        <br>
                        <b>2.</b> Compreender as relações entre as linguagens da Arte e suas práticas integradas,
                        inclusive aquelas possibilitadas pelo uso das novas tecnologias de informação e
                        comunicação, pelo cinema e pelo audiovisual, nas condições particulares de produção,
                        na prática de cada linguagem e nas suas articulações.
                        <br>
                        <b>3.</b> Pesquisar e conhecer distintas matrizes estéticas e culturais – especialmente aquelas
                        manifestas na arte e nas culturas que constituem a identidade brasileira –, sua tradição
                        e manifestações contemporâneas, reelaborando-
                        -as nas criações em Arte.
                        <br>
                        <b>4.</b> Experienciar a ludicidade, a percepção, a expressividade e a imaginação,
                        ressignificando espaços da escola e de fora dela no âmbito da Arte.
                        <br>
                        <b>5.</b> Mobilizar recursos tecnológicos como formas de registro, pesquisa e criação
                        artística.
                        <br>
                        <b>6.</b> Estabelecer relações entre arte, mídia, mercado e consumo, compreen- dendo, de
                        forma crítica e problematizadora, modos de produção e de circulação da arte na
                        sociedade.
                        <br>
                        <b>7.</b> Problematizar questões políticas, sociais, econômicas, científicas, tecnológicas e
                        culturais, por meio de exercícios, produções, intervenções e apresentações artísticas.
                        <br>
                        <b>8.</b> Desenvolver a autonomia, a crítica, a autoria e o trabalho coletivo e colaborativo nas
                        artes.
                        <br>
                        <b>9.</b> Analisar e valorizar o patrimônio artístico nacional e internacional, material e imaterial,
                        com suas histórias e diferentes visões de mundo.
                    <% } %>
                    <% if (componente_curricular.trim().toLowerCase() === "educação física") { %>
                        <b>1.</b> Compreender a origem da cultura corporal de movimento e seus vínculos com a
                        organização da vida coletiva e individual.
                        <br>
                        <b>2.</b> Planejar e empregar estratégias para resolver desafios e aumentar as possibilidades de
                        aprendizagem das práticas corporais, além de se envolver no processo de ampliação do
                        acervo cultural nesse campo.
                        <br>
                        <b>3.</b> Refletir, criticamente, sobre as relações entre a realização das práticas corporais e os
                        processos de saúde/doença, inclusive no contexto das atividades laborais.
                        <br>
                        <b>4.</b> Identificar a multiplicidade de padrões de desempenho, saúde, beleza e estética
                        corporal, analisando, criticamente, os modelos disseminados na mídia e discutir posturas
                        consumistas e preconceituosas.
                        <br>
                        <b>5.</b> Identificar as formas de produção dos preconceitos, compreender seus efeitos e
                        combater posicionamentos discriminatórios em relação às práticas corporais e aos seus
                        participantes.
                        <br>
                        <b>6.</b> Interpretar e recriar os valores, os sentidos e os significados atribuídos às diferentes
                        práticas corporais, bem como aos sujeitos que delas participam.
                        <br>
                        <b>7.</b> Reconhecer as práticas corporais como elementos constitutivos da identidade cultural
                        dos povos e grupos.
                        <br>
                        <b>8.</b> Usufruir das práticas corporais de forma autônoma para potencializar o envolvimento
                        em contextos de lazer, ampliar as redes de sociabilidade e a promoção da saúde.
                        <br>
                        <b>9.</b> Reconhecer o acesso às práticas corporais como direito do cidadão, propondo e
                        produzindo alternativas para sua realização no contexto comunitário.
                        <br>
                        <b>10.</b> Experimentar, desfrutar, apreciar e criar diferentes brincadeiras, jogos, danças,
                        ginásticas, esportes, lutas e práticas corporais de aventura, valorizando o trabalho coletivo
                        e o protagonismo.
                    <% } %>
                    <% if (componente_curricular.trim().toLowerCase() === "matemática") { %>
                        <b>1.</b> Reconhecer que a Matemática é uma ciência humana, fruto das necessidades e
                        preocupações de diferentes culturas, em diferentes momentos históricos, e é uma ciência
                        viva, que contribui para solucionar problemas científicos e tecnológicos e para
                        alicerçar descobertas e construções, inclusive com impactos no mundo do trabalho.
                        <br>
                        <b>2.</b> Desenvolver o raciocínio lógico, o espírito de investigação e a capacidade de produzir
                        argumentos convincentes, recorrendo aos conhecimentos matemáticos para
                        compreender e atuar no mundo.
                        <br>
                        <b>3.</b> Compreender as relações entre conceitos e procedimentos dos diferentes campos da
                        Matemática (Aritmética, Álgebra, Geometria, Estatística e Probabilidade) e de outras
                        áreas do conhecimento, sentindo segurança quanto à própria capacidade de construir e
                        aplicar conhecimentos matemáticos, desenvolvendo a autoestima e a perseverança na
                        busca de soluções.
                        <br>
                        <b>4.</b> Fazer observações sistemáticas de aspectos quantitativos e qualitativos presentes nas
                        práticas sociais e culturais, de modo a investigar, organizar, representar e comunicar
                        informações relevantes, para interpretá-las e avaliá-las crítica e eticamente, produzindo
                        argumentos convincentes.
                        <br>
                        <b>5.</b> Utilizar processos e ferramentas matemáticas, inclusive tecnologias digitais disponíveis,
                        para modelar e resolver problemas cotidianos, sociais e de outras áreas de
                        conhecimento, validando estratégias e resultados.
                        <br>
                        <b>6.</b> Enfrentar situações-problema em múltiplos contextos, incluindo-se situações
                        imaginadas, não diretamente relacionadas com o aspecto prá- tico-utilitário, expressar
                        suas respostas e sintetizar conclusões, utilizando diferentes registros e linguagens
                        (gráficos, tabelas, esquemas, além de texto escrito na língua materna e outras linguagens para descrever algoritmos, como fluxogramas, e dados).
                        <br>
                        <b>7.</b> Desenvolver e/ou discutir projetos que abordem, sobretudo, questões de urgência social,
                        com base em princípios éticos, democráticos, sustentáveis e solidários, valorizando a
                        diversidade de opiniões de indivíduos e de grupos sociais, sem preconceitos de qualquer
                        natureza.
                        <br>
                        <b>8.</b> Interagir com seus pares de forma cooperativa, trabalhando coletivamente no
                        planejamento e desenvolvimento de pesquisas para responder a ques- tionamentos e
                        na busca de soluções para problemas, de modo a identificar aspectos consensuais ou
                        não na discussão de uma determinada questão, respeitando o modo de pensar dos
                        colegas e aprendendo com eles.
                    <% } %>
                    <% if (componente_curricular.trim().toLowerCase() === "ciências da natureza") { %>
                        <b>1.</b> Compreender as Ciências da Natureza como empreendimento humano, e o
                        conhecimento científico como provisório, cultural e histórico.
                        <br>
                        <b>2.</b> Compreender conceitos fundamentais e estruturas explicativas das Ciências da
                        Natureza, bem como dominar processos, práticas e procedimentos da investigação
                        científica, de modo a sentir segurança no debate de questões científicas, tecnológicas,
                        socioambientais e do mundo do trabalho, continuar aprendendo e colaborar para a
                        construção de uma sociedade justa, democrática e inclusiva.
                        <br>
                        <b>3.</b> Analisar, compreender e explicar características, fenômenos e processos relativos ao
                        mundo natural, social e tecnológico (incluindo o digital), como também as relações
                        que se estabelecem entre eles, exercitando a curiosidade para fazer perguntas, buscar
                        respostas e criar soluções (inclusive tecnológicas) com base nos conhecimentos das
                        Ciências da Natureza.
                        <br>
                        <b>4.</b> Avaliar aplicações e implicações políticas, socioambientais e culturais da ciência e de
                        suas tecnologias para propor alternativas aos desafios do mundo contemporâneo, 
                        incluindo aqueles relativos ao mundo do trabalho.
                        <br>
                        <b>5.</b> Construir argumentos com base em dados, evidências e informações confiáveis e
                        negociar e defender ideias e pontos de vista que promovam a consciência
                        socioambiental e o respeito a si próprio e ao outro, acolhendo e valorizando a
                        diversidade de indivíduos e de grupos sociais, sem preconceitos de qualquer natureza.
                        <br>
                        <b>6.</b> Utilizar diferentes linguagens e tecnologias digitais de informação e comunicação para
                        se comunicar, acessar e disseminar informações, produzir conhecimentos e resolver
                        problemas das Ciências da Natureza de forma crítica, significativa, reflexiva e ética.
                        <br>
                        7. Conhecer, apreciar e cuidar de si, do seu corpo e bem-estar, compreenden- do-se na
                        diversidade humana, fazendo-se respeitar e respeitando o outro, recorrendo aos
                        conhecimentos das Ciências da Natureza e às suas tecnologias.
                        <br>
                        <b>8.</b> Agir pessoal e coletivamente com respeito, autonomia, responsabilidade, flexibilidade,
                        resiliência e determinação, recorrendo aos conhecimentos das Ciências da Natureza
                        para tomar decisões frente a questões científico-tecnológicas e socioambientais e a
                        respeito da saúde individual e coletiva, com base em princípios éticos, democráticos,
                        sustentáveis e solidários.
                    <% } %>
                </div>
                <div class="bg-color text-center item-padding item-border">
                    METODOLOGIAS
                </div>
                <div class="item-padding item-border">
                    <% metodologias.split("\n").forEach(text => { %>
                        <%= text %>
                    <% }) %> 
                </div>
                <div class="bg-color text-center item-padding item-border">
                    RECURSOS MATERIAIS
                </div>
                <div class="item-padding item-border">
                    <% recursos_materiais.split("\n").forEach(text => { %>
                        <%= text %>
                    <% }) %> 
                </div>
                <div class="bg-color text-center item-padding item-border">
                    AVALIAÇÃO
                </div>
                <div class="item-padding item-border">
                    <% avaliacao.split("\n").forEach(text => { %>
                        <%= text %>
                    <% }) %>  
                </div>
                <div class="bg-color item-padding text-center item-border">
                    REFERÊNCIAS
                </div>
                <div class="item-border item-padding">
                    <% referencias.split("\n").forEach(texto => { %>
                        <%= texto %><br>
                    <% }) %>
                </div>
            </div>
        </div>
</body>

</html>