<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    </head>
    <style>
        #first-page > table,
        tr,
        td {
            border: 1px solid;
        }

        .text-center {
            text-align: center;
        }
        .fixed-width {
            width: 80px;
        }
        .text-line {
            border-bottom: 1px solid;
            flex: 1;
        }

        #frequencia {
            table-layout: fixed;
        }

        #frequencia > tbody > tr > td:first-child {
            font-stretch: 50%;
        }

        #frequencia > thead > tr > td {
            font-stretch: condensed;
            text-align: center;
        }

        #first-page {
            break-after: page;
        }

        #second-page > table {
            border: 1px solid;
        }

        #second-page > tbody, tr, td {
            break-after: avoid;
        }

        .table {
            width: 100%;
            border-spacing: 0;
        }

        .dont-break {
            break-inside: avoid;
        }
    </style>

    <body>
        <div id="first-page">
            <div style="display: flex; margin-bottom: 10px">
                <b style="margin-right: 5px">Nome do(a) aluno(a)</b>
                <div style="flex-grow: 1; border-bottom: 1px solid;" id="nome_aluno"></div>
                <b>N°</b>
                <div
                    id="ordem_frequencia"
                    style="width: 50px; border-bottom: 1px solid;"
                ></div>
            </div>
            <table id="frequencia" class="table">
                <thead>
                    <tr>
                        <td style="width: 60px">Meses/<br />Data</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td class="text-center" style="width: 50px">Faltas</td>
                    </tr>
                </thead>
                <tbody>
                    <% const startDate = new Date(periodo_letivo.data_inicio) %>
                    <% const endDate = new Date(periodo_letivo.data_termino) %> 
                    <% 
                        const rangeArray = frequencia.filter(record => {
                            const date = new Date(record.date)
                            return date >= startDate && date <= endDate
                        }).sort((a, b) => new Date(b.date) - new Date(a.date))

                        console.log(rangeArray)
                        const monthDict = {
                            0: "Janeiro",
                            1: "Fevereiro",
                            2: "Março",
                            3: "Abril",
                            4: "Maio",
                            5: "Junho",
                            6: "Julho",
                            7: "Agosto",
                            8: "Setembro",
                            9: "Outubro",
                            10: "Novembro",
                            11: "Dezembro"
                        }

                        const years = {}

                        rangeArray.forEach(record => {
                            const date = new Date(record.date)
                            const year = date.getFullYear()
                            if (!years.hasOwnProperty(year)) years[year] = []
                            const monthsFromYear = years[year]
                            console.log(date.getMonth())
                            if (monthsFromYear.indexOf(date.getMonth()) === -1)
                                years[year].push(date.getMonth())
                        })

                        console.log(years)
                        %>
                    <!-- TODO: Também considerar o ano do mês, atualmente o código só se importa com o mês -->
                    <% for (year in years) { %>
                        <% if (!years.hasOwnProperty(year)) continue %> 
                        <% years[year].forEach(month => { %> 
                            <tr>
                                <td><%= monthDict[month] %></td>
                                <% const monthRange = rangeArray.filter(record => {
                                    const date = new Date(record.date)
                                    return date.getMonth() === month && date.getFullYear() === parseInt(year)
                                }) %> 
                                <% console.log("monthRange:", monthRange) %> 
                                <!-- Quantidade de presença no dia -->
                                <% const maxDays = 32 %> 
                                <% for (let i = 1; i < maxDays; i++) { %>
                                    <% const day = monthRange.filter(record => {
                                        const date = new Date(record.date)
                                        return date.getDate() === i
                                    }) %>
                                    <% console.log("day:", day) %> 
                                    <% if (day.length > 0) { %>
                                        <td class="text-center">
                                            <%= day.reduce((prev, { qtd_presenca }) => prev + qtd_presenca, 0) %> 
                                        </td>
                                    <% } else { %>
                                        <td class="text-center">0</td>
                                    <% } %> 
                                <% } %> 
                                <!-- Faltas -->
                                <td class="text-center">
                                    <%= monthRange.length > 0 ? monthRange.reduce((prev, { qtd_faltas }) => prev + qtd_faltas, 0) : 0 %> 
                                </td> 
                            </tr>
                        <% }) %>
                    <% } %>
                    <tr>
                        <td>Rec. Final</td>
                    </tr>
                </tbody>
            </table>
            <h3 style="text-align: center">Resultado Bimestral</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>Unidade/Pontos</td>
                        <td style="text-align: center">
                            I <br />(Av. Qualitativa)
                        </td>
                        <td style="text-align: center">II<br />(Av. Bimestral)</td>
                        <td style="text-align: center">III<br />(Rec. Paralela)</td>
                        <td style="text-align: center">
                            Resultado Final Bimestral<br />(I+II ou I+III)
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div style="display: flex; gap: 50px">
                <table style="border-spacing: 0; border: 1px solid;">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">Resultado Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Média Anual</td>
                            <td
                                class="fixed-width text-center"
                                id="media_anual"
                            ></td>
                        </tr>
                        <tr>
                            <td>Total de Faltas</td>
                            <td
                                class="fixed-width text-center"
                                id="total_faltas"
                            ></td>
                        </tr>
                        <tr>
                            <td>Nota de Rec. Final</td>
                            <td class="fixed-width text-center" id="nota_rec"></td>
                        </tr>
                        <tr>
                            <td>Média Final</td>
                            <td
                                class="fixed-width text-center"
                                id="media_final"
                            ></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <input id="aprovado" disabled type="checkbox" />
                    <label for="aprovado">Aprovado</label>
                    <br />
                    <input id="reprovado" disabled type="checkbox" />
                    <label for="reprovado">Reprovado</label>
                    <br />
                    <input id="transferido" disabled type="checkbox" />
                    <label for="transferido">Transferido</label>
                    <div style="display: flex; float: right" id="transferido-data">
                        <div style="width: 20px" class="text-line"></div>
                        /
                        <div style="width: 20px" class="text-line"></div>
                        /
                        <div style="width: 30px" class="text-line"></div>
                    </div>
                    <br />
                    <input id="desistente" disabled type="checkbox" />
                    <label for="transferido">Desistente</label>
                    <div style="display: flex; float: right" id="desistente-data">
                        <div style="width: 20px" class="text-line"></div>
                        /
                        <div style="width: 20px" class="text-line"></div>
                        /
                        <div style="width: 30px" class="text-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="second-page">
            <div style="text-align: center; margin: 20px;">
                <b>Mês:</b> <i id="data_atividades"></i>
            </div>
            <table class="table" id="lista-atividades">
                <thead style="display: table-row-group;">
                    <tr>
                        <td class="text-center">N° da Aula</td>
                        <td class="text-center">Data</td>
                        <td class="text-center">Resumo das Atividades</td>
                        <td class="text-center">Rubrica do(a) Professor(a)</td>
                    </tr>
                </thead>
                <tbody>
                    <% atividades.forEach(atividade => { %>
                        <tr>
                            <td>
                                <%= atividade.numero_aula %> 
                            </td>
                            <td>
                                <%= atividade.data %> 
                            </td>
                            <td>
                                <%= atividade.resumo %> 
                            </td>
                            <td>
                                <%= atividade.rubrica_professor %> 
                            </td>
                        </tr> 
                    <% }) %>
                </tbody>
            </table>
            <style>
                .flex {
                    display: flex;
                }
                .flex-column {
                    flex-direction: column;
                    flex-grow: 1;
                }
                .padding-top {
                    padding-top: 90px;
                }
                .small-text {
                    text-align: center;
                    font-size: 12px;
                }
            </style>
            <div style="padding-top: 10px;">
                <b>Observações:</b> <u><%= observacao %></u>
            </div>
            <div class="flex padding-top dont-break" style="gap: 10px;">
                <div class="flex flex-column">
                    <div class="text-line"></div>
                    <div class="small-text">Assinatura do Responsável - Coordenação Pedagógica</div>
                </div>
                <div class="flex flex-column">
                    <div class="text-line"></div>
                    <div class="small-text">Assinatura do Diretor(a)</div>
                </div>
            </div>
        </div>
    </body>
</html>
