<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <meta charset="UTF-8">
    <style>
        .text-line {
            border-bottom: 1px solid;
            flex: 1;
        }
    </style>
</head>
<body style="margin: 30px;">
    <%- include("reusable/header-escola.ejs") %>
    <h3 style="text-align: center; padding: 10px;">Mapa Individual de Frequência</h3>
    <div>
        <div style="display: flex; margin-bottom: 10px">
            <b style="margin-right: 5px">Nome do(a) aluno(a)</b>
            <div style="flex-grow: 1;" class="text-line"><%= aluno.nome %></div>
            <b>Série:</b>
            <div style="max-width: 70px;" class="text-line"></div>
        </div>
        <div style="display: flex; margin-bottom: 10px">
            <b>Código do INEP:</b>
            <div style="flex-grow: 1;" class="text-line"><%= aluno.codigo_inep %></div>
            <b>ID da InfoEduc:</b>
            <div style="flex-grow: 1" class="text-line"><%= aluno.codigo_infoeduc %></div>
            <b>Período Letivo:</b>
            <div style="flex-grow: 1; max-width: 50px;" class="text-line text-center"><%= periodo_letivo.ano %></div>
        </div>
        <br>
        <br>
        <br>
        <%- include("reusable/diario-classe/frequencia.ejs") %> 
    </div>
</body>
</html>