<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("css/ficha.ejs") %>
</head>

<body>
    <div id="container">
        <%- include("reusable/header.ejs") %>
        <div class="block">
            <div class="title-header">Dados Pessoais</div>
            <div class="block">
                <div class="flex">
                    <img width="100" height="100" src="<%= professor.foto_url %>">
                    <div style="flex: 1; margin-left: 10px">
                        <div class="multicoluna inline">
                            <b>Nome:</b>
                            <div class="texto-linha inline"><%= professor.nome %></div>
                        </div>
                        <div class="multicoluna inline">
                            <div class="inline">
                                <b>Identificação do INEP: </b>
                                <div class="texto-linha"><%= professor.inep %></div>
                            </div>
                            <div class="inline">
                                <b>NIS (PBF): </b>
                                <div class="texto-linha"><%= professor.nis %></div>
                            </div>
                        </div>
                        <div class="multicoluna inline">
                            <div class="inline">
                                <b>Data de nascimento:</b>
                                <% const dataNascimento = new Date(professor.data_nascimento) %>
                                <div class="texto-linha text-center">
                                    <%= dataNascimento.getDate().toString().padStart(2, "0") %></div>
                                /
                                <div class="texto-linha text-center">
                                    <%= dataNascimento.getMonth().toString().padStart(2, "0") %> </div>
                                /
                                <div class="texto-linha text-center"><%= dataNascimento.getFullYear() %></div>
                            </div>
                            <div class="inline">
                                <b>Nacionalidade:</b>
                                <div class="texto-linha text-center"><%= professor.nacionalidade %></div>
                            </div>
                        </div>
                        <div class="multicoluna inline">
                            <div class="inline">
                                <b>RG:</b>
                                <div class="texto-linha" style="width: 100px;"><%= professor.rg %></div>
                            </div>
                            <div class="inline">
                                <b>SSP/RG:</b>
                                <div class="texto-linha text-center"><%= professor.ssp_rg %> </div>
                            </div>
                            <div class="inline">
                                <b>CPF:</b>
                                <div class="texto-linha"><%= professor.cpf %> </div>
                            </div>
                        </div>
                        <div class="multicoluna inline">
                            <div class="inline">
                                <b>Gênero:</b>
                                (<%= professor.genero === "Masculino" ? "X" : "  " %>) M
                                (<%= professor.genero === "Feminino" ? "X" : " "%>) F
                            </div>
                            <div class="inline">
                                <b>Etnia/Cor:</b>
                                <div class="texto-linha"><%= professor.etnia_cor %> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-header">Modelo Antigo de Certidão Civil</div>
                <div class="block">
                    <div class="multicoluna">
                        <div class="inline">
                            <b>N° do termo:</b>
                            <div class="texto-linha"><%= professor.certidao_antiga.numero_termo %></div>
                        </div>
                        <div class="inline">
                            <b>Folha:</b>
                            <div class="texto-linha"><%= professor.certidao_antiga.folha %></div>
                        </div>
                        <div class="inline">
                            <b>Livro:</b>
                            <div class="texto-linha"><%= professor.certidao_antiga.livro %></div>
                        </div>
                        <div class="inline">
                            <b>Data de emissão da certidão</b>
                            <% const dataCertidao = new Date(professor.certidao_antiga.data) %>
                            <div class="texto-linha"><%= dataCertidao.getDate().toString().padStart(2, "0") %></div>
                            /
                            <div class="texto-linha"><%= dataCertidao.getMonth().toString().padStart(2, "0") %></div>
                            /
                            <div class="texto-linha"><%= dataCertidao.getFullYear() %></div>
                        </div>
                    </div>
                    <div class="multicoluna">
                        <div class="inline">
                            <b>Município do cartório:</b>
                            <div class="texto-linha"><%= professor.certidao_antiga.municipio %></div>
                        </div>
                    </div>
                </div>
                <div class="title-header">Modelo Novo de Certidão Civil</div>
                <div class="block">
                    <div class="multicoluna">
                        <div class="inline">
                            <b>N° da matricula (reg. civil):</b>
                            <div class="texto-linha"><%= professor.certidao_nova.numero_matricula %></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-header">Endereço</div>
            <div class="block">
                <div class="multicoluna inline">
                    <div class="inline">
                        <b>Zona de residência:</b>
                        (<%= professor.dados_endereco.zona_residencia === "Zona Rural" ? "X" : " " %>) Zona Rural
                        (<%= professor.dados_endereco.zona_residencia === "Zona Urbana" ? "X" : " " %>) Zona Urbana
                    </div>
                    <div class="inline">
                        <b>CEP:</b>
                        <div class="texto-linha" style="width: 60px;"><%= professor.dados_endereco.cep %> </div>
                    </div>
                    <div class="inline">
                        <b>Bairro:</b>
                        <div class="texto-linha" style="width: 80px;"><%= professor.dados_endereco.bairro %> </div>
                    </div>
                </div>
                <div class="multicoluna">
                    <div class="inline">
                        <b>Endereço:</b>
                        <div class="texto-linha" style="width: 500px;"><%= professor.dados_endereco.endereco %> </div>
                    </div>
                    <div class="inline">
                        <b>N°:</b>
                        <div class="text-center texto-linha" style="width: 10px;"><%= professor.dados_endereco.numero %>
                        </div>
                    </div>
                </div>
                <div class="multicoluna">
                    <div class="inline">
                        <b>Complemento:</b>
                        <div class="texto-linha" style="width: 270px;"><%= professor.dados_endereco.complemento %></div>
                    </div>
                    <div class="inline">
                        <b>Município:</b>
                        <div class="texto-linha" style="min-width: 90px;"><%= professor.dados_endereco.municipio %>
                        </div>
                    </div>
                    <div class="inline">
                        <b>UF:</b>
                        <div class="texto-linha" style="width: 50px;"><%= professor.dados_endereco.uf %> </div>
                    </div>
                </div>
            </div>
            <div class="title-header">Contato</div>
            <div class="block">
                <div class="multicoluna">
                    <div class="inline">
                        <b>E-mail Principal:</b>
                        <div class="texto-linha"><%= professor.email_principal %> </div>
                    </div>
                    <div class="inline">
                        <b>E-mail secundário:</b>
                        <div class="texto-linha"><%= professor.contato.email_secundario %> </div>
                    </div>
                </div>
                <div class="multicoluna">
                    <div class="inline">
                        <b>Celular:</b>
                        <div class="texto-linha"><%= professor.contato.celular %> </div>
                    </div>
                    <div class="inline">
                        <b>WhatsApp:</b>
                        <div class="texto-linha"><%= professor.contato.whatsapp %> </div>
                    </div>
                </div>
                <div class="multicoluna">
                    <div class="inline">
                        <b>Instagram:</b>
                        <div class="texto-linha"><%= professor.contato.link_instagram %> </div>
                    </div>
                    <div class="inline">
                        <b>Facebook:</b>
                        <div class="texto-linha"><%= professor.contato.link_facebook %> </div>
                    </div>
                    <div class="inline">
                        <b>YouTube:</b>
                        <div class="texto-linha"><%= professor.contato.link_youtube %> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>