<html>

<head>
    <style>
        .center {
            margin: auto;
            width: 50%;
            text-align: center;
        }
        
        thead,
        tbody,
        td,
        tr {
            break-inside: avoid;
            padding: 5px;
        }
        td, tr {
            border: 1px solid;
        }

        thead {
            font-weight: bold;
        }

        table {
            border-spacing: 0;
        }
        
        .star-spacing {
            width: 1%;
            white-space: nowrap;
        }
    </style>
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
</head>

<body>
    <div>
        <div style="font-size: 20px; line-height: 0.8;" class="center">
            <img src="<%= page_header.logomarca_url %> " width="100" height="100">
            <br>
            <h2>
                <%= page_header.titulo %>
            </h2>
            <%= page_header.nome_prefeitura %>
            <br>
            <br>
            CNPJ: <%= page_header.cnpj %>
        </div>
        <br>
        <br>
        <h1 class="center"><%= page_title %></h1>
        <br>
        <table style="width: 100%; font-size: 18px;">
            <thead>
                <tr>
                    <% table_header.forEach((item, index) => { %>
                        <td class="<%= widths[index] === "auto" ? "star-spacing" : " " %>">
                            <%= item %>
                        </td>
                        <% }) %>
                </tr>
            </thead>
            <tbody>
                <% list.forEach(arr => { %>
                    <tr>
                        <% arr.forEach(item => { %>
                            <td>
                                <%= item %>
                            </td>
                            <% }) %>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>