<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/ficha.ejs") %>
    <%- include("../css/common.ejs") %> 
    <style>
    #titulo{
        font-size: 20px;
        text-align: center;
        margin-bottom: 6px;
    }
    .center{
        text-align: center;

    }
    </style>
</head>
<body>
    <div id="titulo" ><u><b><%= titulo %> </b></u></div>
    <div class="block" style="border-radius:8px ">
        <div class="title-header" style="text-align: center; border-radius: 6px; font-size: 20; background-color: rgb(202, 202, 202);">DADOS DA ESCOLA</div>
        <div class="multicoluna">
            <div class="inline">
                <b>Instituição de ensino:</b>
                <div class="texto-linha"><%= instituicao %></div>
            </div>
        </div>
        <div class="multicoluna">
            <div class="inline">
                <b>ID do INEP:</b>
                <div class="texto-linha"><%= id_inep %> </div>
            </div>
            <div class="inline">
                <b>ID InfoEduc:</b>
                <div class="texto-linha"><%= id_infoeduc %> </div>
            </div>
        </div>
        <div class="multicoluna">
            <div class="inline">
                <b>Endereço:</b>
                <div class="texto-linha"><%= endereco %> </div>
            </div>
            <div class="inline" style="max-width: 70px; text-align: center;">
                <b>Nº:</b>
                <div class="texto-linha"><%= endereco_numero %> </div>
            </div>
        </div>
        <div class="multicoluna">
            <div class="inline">
                <b>Entidade Mantenedora:</b>
                <div class="texto-linha"><%= entidade_mantenedora %> </div>
            </div>
            <div class="inline" style="max-width: 170px; text-align: center;">
                <b>Cidade:</b>
                <div class="texto-linha"><%= cidade %> </div>
            </div>
            <div class="inline" style="max-width: 60px; text-align: center;">
                <b>UF:</b>
                <div class="texto-linha"><%= uf %> </div>
            </div>
            <div class="inline" style="max-width: 120px; text-align: center;">
                <b>CEP:</b>
                <div class="texto-linha" ><%= cep %> </div>
            </div>
        </div>
        <div class="multicoluna" style="padding-bottom: 6px;">
            <div class="inline">
                <b>Ato de criação:</b>
                <div class="texto-linha"><%= ato_criacao %> </div>
            </div>
        </div>
    </div>
</body>
</html>