<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/ficha.ejs") %>
    <% include("../reusable/utils.ejs") %>
    <%- include("../css/common.ejs") %>
    <style>
        .backCinza{
            background-color: rgb(224, 224, 224);
        }
        .text{
            position: relative;
            left: -70px;
        }
        .text-vertical{
            max-width: 20px;
            height: 150px;
            transform: rotate(270deg);
            position: relative;
            white-space: nowrap;
        }
        .text_center{
            text-align: center;
        }
    </style>
</head>
<body>

    <div id="container">
        <%- include("../reusable/header-escola.ejs") %>
        <div class="flex flex-column small-gap">
            <div class="multicolumn">
                <b class="pad-right">Instituição de Ensino:</b>
                <div class="text-line"><%= nome_escola %></div>
            </div>
            <div class="multicolumn">
                <b class="pad-right">Aluno (a):</b>
                <div class="text-line"><%= aluno%></div>
            </div>
            <div class="flex" style="gap: 10px;">
                <div class="multicolumn">
                    <b class="pad-right">ID da InfoEduc:</b>
                    <div class="text-line"><%= id_infoeduc %></div>
                </div>
                <div class="multicolumn" style="max-width: 220px;">
                    <b class="pad-right">Turma:</b>
                    <div class="text-line"><%= nome_turma %></div>
                </div>  
                <div class="multicolumn" style="max-width: 140px;">
                    <b class="pad-right">Turno:</b>
                    <div class="text-line"><%= nome_turno %></div>
                </div>
                <div class="multicolumn" style="max-width: 130px;">
                    <b class="pad-right">Ano Letivo:</b>
                    <div class="text-line"><%= nome_ano_letivo %> </div>
                </div>
            </div>
        </div>

        <h3 class="page-title">BOLETIM ESCOLAR</h3>
        <table class="table">
            <tr>
                <th rowspan="3" style="max-width: 50px;" colspan="2">COMPONENTES CURRICULARES</th>
                <th colspan="4" style="width: 170px;">NOTAS</th>
                <th rowspan="3" style="width: 70px;" class="backCinza">MÉDIA ANUAL</th>
                <th rowspan="3"style="width: 70px;" class="backCinza">Total de faltas</th>
            </tr>
            <% 
            function remover_acentos_espaco(str) {
                return str.normalize("NFD").replace(/[^a-zA-Zs]/g, "");
            }
             %> 
            <tr>
                <% grupo_avaliativo.forEach(element => { %>
                    <th colspan="2"><%= element %></th>
                <% }) %>
            </tr>
            <tr>
                <% unidade.forEach(element => { %>
                    <th><%= element.unidade_sigla %> </th>
                <% }) %>
            </tr>
            <!-- base comum -->
                
            <% notas.forEach((element,index) => { %>
                <% if (index == 0) { %>
                    <tr>
                        <th rowspan="<%= notas.length %> " style="width: 5px; height: 300px;" class="text-vertical"><span class="text">BASE NACIONAL COMUM</span></th>
                        <td><%= element.diciplina %> </td>
                        <% if (element.nota_1 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_1 %></td>
                        <% } %>
                        
                        <% if (element.nota_2 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_2 %></td>
                        <% } %>
                        
                        <% if (element.nota_3 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_3 %></td>
                        <% } %>
                        
                        <% if (element.nota_4 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_4 %></td>
                        <% } %>
                        
                        <% if (element.media_anual == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center backCinza"><%= element.media_anual %></td>
                        <% } %>
                        
                        <% if (element.total_faltas == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center backCinza"><%= element.total_faltas %></td>
                        <% } %>
                       
                    </tr>
                <% }else{%>
                    <tr>
                        <td ><%= element.diciplina %> </td>
                        <% if (element.nota_1 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_1 %></td>
                        <% } %>
                        
                        <% if (element.nota_2 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_2 %></td>
                        <% } %>
                        
                        <% if (element.nota_3 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_3 %></td>
                        <% } %>
                        
                        <% if (element.nota_4 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_4 %></td>
                        <% } %>
                        
                        <% if (element.media_anual == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center backCinza"><%= element.media_anual %></td>
                        <% } %>
                        
                        <% if (element.total_faltas == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center backCinza"><%= element.total_faltas %></td>
                        <% } %>
                       

                    </tr>
                <%}%>

            <% }) %>
            

            <!-- parte diversificada  -->
           
            <% notas_diversificada.forEach((element,index) => { %>
                <% if (index == 0) { %>
                    <tr>
                        <th rowspan="<%= notas_diversificada.length %>" style="width: 5px; height: 200px;" class="text-vertical"><span class="text">PARTE DIVERSIFICADA</span></th>
                        <td><%= element.diciplina_diversificada %> </td>
                        <% if (element.nota_diversificada_1 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_diversificada_1 %></td>
                        <%} %>
                        <% if (element.nota_diversificada_2 == null) { %>
                            <th>*</th>
                            
                        <% }else{%>
                            <td class="text_center"><%= element.nota_diversificada_2 %></td>
                        <% } %>
                        <% if (element.nota_diversificada_3 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_diversificada_3 %></td>
                        <% } %>
                        <% if (element.nota_diversificada_4 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_diversificada_4 %></td>
                        <% } %>
                        
                        <% if (element.media_anual_diversificada == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center backCinza"><%= element.media_anual_diversificada %></td>
                        <% } %>
                        
                        <% if (element.total_faltas_diversificada == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center backCinza"><%= element.total_faltas_diversificada %></td>
                        <% } %>
                    </tr>
                <% }else{%>
                    <tr>
                        <td ><%= element.diciplina_diversificada %> </td>
                        <% if (element.nota_diversificada_1 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_diversificada_1 %></td>
                        <%} %>
                        <% if (element.nota_diversificada_2 == null) { %>
                            <th>*</th>
                            
                        <% }else{%>
                            <td class="text_center"><%= element.nota_diversificada_2 %></td>
                        <% } %>
                        <% if (element.nota_diversificada_3 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_diversificada_3 %></td>
                        <% } %>
                        <% if (element.nota_diversificada_4 == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center"><%= element.nota_diversificada_4 %></td>
                        <% } %>
                        
                        <% if (element.media_anual_diversificada == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center backCinza"><%= element.media_anual_diversificada %></td>
                        <% } %>
                        
                        <% if (element.total_faltas_diversificada == null) { %>
                            <th>*</th>
                        <% }else{%>
                            <td class="text_center backCinza"><%= element.total_faltas_diversificada %></td>
                        <% } %>
                    </tr>
                <%}%>

            <% }) %>
        </table>
    </div>
</body>
</html>