<!DOCTYPE html>
<html lang="en">
<%- include("css/common.ejs") %> 
<head>
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <style>
        .flex {
            display: flex;
        }
        .flex-column {
            flex-direction: column;
        }

        .item-border {
            border: 1px solid;
            padding: 5px;
        }

        .text-center {
            text-align: center;
        }

        .grow {
            flex-grow: 1;
        }
    </style>
    <meta charset="UTF-8">
</head>
<body>
    <div style="margin: 20px;">
        <%- include("reusable/header-escola.ejs") %> 
        <h1 class="text-center">Desenvolvimento Escolar</h1>
        <div class="flex flex-column" style="gap: 5px;">
            <div class="multicolumn inline">
                <b>Instituição Escolar:</b>
                <div class="text-line"><%= escola_nome %></div>
            </div>
            <div class="multicolumn inline">
                <b>Aluno(a):</b>
                <div class="text-line"><%= aluno_nome %></div>
            </div>
            <div class="multicolumn">
                <div class="inline">
                    <b>Turma:</b>
                    <div class="text-line"><%= turma %></div>
                </div>
                <div class="inline">
                    <b>Turno:</b>
                    <div class="text-line"><%= turno %></div>
                </div>
                <div class="inline">
                    <b>Ano Letivo:</b>
                    <div class="text-line"><%= ano_letivo %></div>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;" class="flex flex-column">
            <%
            const materias = []
            const unidades = [] 
            const notasComputadas = []

            notas.forEach(item => {
                const materia = item.materia
                const unidade = item.unidade
                if (materias.indexOf(materia) === -1) materias.push(materia)
                if (unidades.indexOf(unidade) === -1) unidades.push(unidade)
            });
            materias.forEach(materia => {
                const arr = []
                unidades.forEach(unidade => {
                    notas.forEach(registro => {
                        if (registro.unidade === unidade && registro.materia === materia) {
                            arr.push(registro.nota)
                            return
                        }
                    });
                });
                notasComputadas.push(arr)
            })
            %> 
            <div class="flex flex-column grow">
                <table class="table">
                    <thead>
                        <tr>
                            <th rowspan="0">
                                Componentes<br>Curriculares
                            </th>
                            <th colspan="<%= periodos_letivos.length %>">
                                Resultado das Unidades
                            </th>
                        </tr>
                        <tr>
                            <% periodos_letivos.forEach(periodo => { %>
                                <th><%= periodo %></th>
                            <% }) %>
                        </tr>
                    </thead>
                    <% 
                    function groupByProperty(array, property) {
                        const map = new Map()
                        for (let i = 0; i < array.length; i++) {
                            const element = array[i];
                            const propValue = element[property]
                            if (!map.has(propValue)) {
                                map.set(propValue, [])
                            }
                            const arrayItem = map.get(propValue)
                            arrayItem.push(element)
                            map.set(propValue, arrayItem)
                        }
                        return map
                    }
                    const grupoDisciplinas = groupByProperty(notas, "grupo_disciplina")
                     %> 
                    <tbody>
                        <tr>
                            <% const keys = grupoDisciplinas.keys() %>  
                            <% while(true) { %>
                                <% const next = keys.next() %>
                                <% if (next.done) break %> 
                                
                            <% } %> 
                        </tr>
                    </tbody>
                </table>
                <div class="flex">
                    <div class="grow item-border text-center">
                        Total de Dias Letivos: <%=  %> 
                    </div>
                    <div class="grow item-border text-center">
                        Total de Faltas: <%=  %> 
                    </div>
                    <div class="grow item-border text-center">
                        Frequência: () %
                    </div>
                </div>
            </div>
        </div>

        <div style="margin: 20px 0;">
            (<%= aprovado ? "X" : " " %>) Aprovado
            <br>
            (<%= reprovado ? "X" : " " %>) Reprovado
        </div>

        <%- include("reusable/campo-assinatura-direcao.ejs") %> 
    </div>
</body>
</html>