
<html>

<% include("../reusable/utils.ejs") %>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
</head>
<style>
    .text-center {
        text-align: center;
    }

    .fixed-width {
        width: 80px;
    }

    .text-line {
        border-bottom: 1px solid;
        flex: 1;
    }

    #frequencia {
        table-layout: fixed;
    }

    #frequencia>tbody>tr>td:first-child {
        font-stretch: 50%;
    }

    #frequencia>thead>tr>td {
        font-stretch: condensed;
        text-align: center;
    }

    .page-break {
        break-after: page;
    }

    .table {
        width: 100%;
        border-spacing: 0;
    }

    .pad-right {
        margin-right: 5px;
    }

    .avoid-break {
        break-inside: avoid;
    }

    .item-border {
        border: 1px solid;
        padding: 5px;
    }

    .bold {
        font-weight: bold;
    }
</style>

<body>
    <% if (diario.usar_foto_capa) { %>
    <div style="width: 100%;">
        <img src="<%= diario.foto_capa %>">
    </div>
    <% } %>
    <div class="page-break" style="margin: 80px;">
        <% if (!diario.usar_foto_capa) { %>
        <div style="width: 6em; margin-left: auto; margin-right: auto;">
            <img src="<%= diario.imagem_rede %>" width="100" height="100">
        </div>
        <h2 class="text-center"><%= diario.nome_rede %></h2>
        <% } %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="font-size: 50px;" class="text-center">Diário de Classe</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="line-height: 1.6; font-size: 16px;">
            <div class="multicolumn">
                <div class="pad-right bold">Instituição de Ensino:</div>
                <div class="text-line"><%= diario.estabelecimento_ensino %></div>
            </div>
            <div class="multicolumn">
                <div class="pad-right bold">Endereço:</div>
                <div class="text-line"><%= diario.endereco %></div>
            </div>
            <div class="multicolumn">
                <div class="pad-right bold">Etapa de escolaridade:</div>
                <div class="text-line"><%= diario.etapa_escolaridade %></div>
            </div>
            <div class="multicolumn">
                <div class="pad-right bold">Professor(a):</div>
                <div class="text-line"><%= diario.nome_professor %></div>
            </div>
            <% if (tipo_documento === "Fundamental") { %>
            <div class="multicolumn">
                <div class="pad-right bold">Componente Curricular:</div>
                <div class="text-line"><%= diario.componente_curricular %></div>
            </div>
            <% } %>
            <div class="multicolumn">
                <div class="pad-right bold">Turma:</div>
                <div class="text-line"><%= diario.turma %></div>
                <div class="pad-right bold">Turno:</div>
                <div class="text-line"><%= diario.turno %></div>
                <div class="pad-right bold">Período Letivo:</div>
                <div class="text-line"><%= diario.periodo_letivo %></div>
            </div>
        </div>
        <div style="margin: 0 250px;">
            <div class="flex flex-column" style="margin-top: 140px;">
                <div class="text-line text-center"><%= diario.ano_letivo %></div>
                <div style="margin-top: 10px;" class="text-center">Ano Letivo</div>
            </div>
        </div>
    </div>
    <div class="page-break" style="margin-top: 70px;">
        <div style="margin: 0 80px;">
            <h1 class="text-center">Orientações </h1>
            <p style="font-weight: bold; text-indent: 50px; text-align: justify;">Prezado professor(a), o senhor (a) é
                responsável pelo seu
                diário de classe, portanto observe as orientações a
                seguir:</p>
            <br>
            <div style="display: flex; flex-direction: column; gap: 5px;">
                <% orientacoes.forEach((orientacao, index) => { %>
                <div style="text-indent: 50px; text-align: justify; line-height: 1.5;">
                    <%= (index + 1) + "°." %> <%= orientacao %>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <% lista_alunos.sort((a, b) => a.nome_aluno.localeCompare(b.nome_aluno)).forEach(aluno => { %>
        <div class="page-break" style="margin: 10px;">
            <div style="display: flex; margin-bottom: 10px">
                <div class="flex flex-column" style="gap: 5px;">
                    <div class="multicolumn inline">
                        <b>Aluno (a):</b>
                        <div class="text-line"><%= aluno.nome_aluno %></div>
                        <% if (tipo_documento === "Infantil") { %>
                        <% if (aluno.possui_nee === true) { %>
                        <b>NEE:</b>
                        <div class="text-line"><%= aluno.especificacao_nee %></div>
                        <% } %>
                        <% } %>
                    </div>
                    <div class="multicolumn inline">
                        <b>Prof (a):</b>
                        <div class="text-line"><%= diario.nome_professor %></div>
                        <b>Turma:</b>
                        <div class="text-line"><%= diario.turma %></div>
                        <b>Ano Letivo:</b>
                        <div style="max-width: 60px;" class="text-center text-line"><%= diario.ano_letivo %></div>
                    </div>
                </div>
            </div>
            <% if (aluno.frequencia) { %>
            <%- include("../reusable/diario-classe/frequencia.ejs", { frequencia: aluno.frequencia, ano_letivo }) %>
            <% } %>
            <% if (aluno.notas) { %>

            <% if (tipo_documento === "Fundamental") { %>
            
            <% var notaResList = null; if (notaResList) { %>
            <h3 style="text-align: center; font-weight: bold; text-transform: uppercase; text-decoration: underline;">

                Resultado Bimestral
            </h3>
            <div style="margin: 0 50px;">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="text-center">
                                Média
                            </td>
                            <td class="text-center">
                                Rec.
                            </td>
                            <td class="text-center">
                                Méd.<br>Final
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% notaResList.forEach(res => { %>
                            <td class="text-center">
                                <%= res %>
                            </td>
                            <% }) %>
                            <td class="text-center">
                                <%= resultadoMedia %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            
            <% } %>
            <% } %>
            <% } %>
            <div class="avoid-break" style="display: flex; gap: 50px">
                <% if (tipo_documento !== "Infantil") { %>
                    <br>
                    <table style="border-spacing: 0; margin-left: -30px;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid;" colspan="2" class="text-center">Resultado Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (!aluno.notas == null) { %>
                                
                                <tr>
                                    <td>Média Anual</td>
                                    <td class="fixed-width text-center">
                                        <%= aluno.notas.reduce((prev, { nota_avaliacao }) => prev + nota_avaliacao, 0) / notas.length %>
                                    </td>
                                </tr>
                                
                            <% } %>
                            <% if (aluno.frequencia) { %>
                                <tr>
                                    <td>Total de Faltas</td>
                                    <td class="fixed-width text-center">
                                        <%= aluno.frequencia.reduce((prev, { qtd_faltas }) => prev + qtd_faltas, 0) %>
                                    </td>
                                </tr>
                            <% } %>
                            <tr>
                                <%# TODO: ? %>
                                <td>Nota de Rec. Final</td>
                                <td class="fixed-width text-center"></td>
                            </tr>
                            <tr>
                                <%# TODO: ? %>
                                <td>Média Final</td>
                                <td class="fixed-width text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                <% } %>
                
                <% if (tipo_documento == "Infantil") { %>
                    <table style="border-spacing: 0;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid;" colspan="2" class="text-center">Resultado Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%# var dias_letivos = null %> 
                            <tr>
                                <td>Dias letivos</td>
                                <td class="fixed-width text-center">
                                    <%#= dias_letivos %>
                                </td>
                            </tr>
                            
                            <% if (aluno.frequencia) { %>
                                <tr>
                                    <td>Total de Faltas</td>
                                    <td class="fixed-width text-center">
                                        <%= aluno.frequencia.reduce((prev, { qtd_faltas }) => prev + qtd_faltas, 0) %>
                                    </td>
                                </tr>
                            <% } %>
                            <tr>
                                <%#var frequenciaPorcentagem = null %> 
                                <td>Frequência %</td>
                                <td class="fixed-width text-center"><%#= frequenciaPorcentagem %> </td>
                            </tr>
                        </tbody>
                    </table>
                <% } %>
                
                <div>
                    <% if (tipo_documento !== "Infantil") { %>
                        <input id="aprovado" <%= aluno.aprovado ? "checked" : "" %> type="checkbox" />
                        <label for="aprovado">Aprovado</label>
                        <br />
                        <input id="reprovado" <%= aluno.reprovado ? "checked" : "" %> type="checkbox" />
                        <label for="reprovado">Reprovado</label>
                        <br />
                    <% } %>
                    <div class="flex" style="gap: 30px;">
                        <div>
                            <input id="transferido" <%= aluno.transferido ? "checked" : "" %> type="checkbox" />
                            <label for="transferido">Transferido</label>
                            <div style="margin-left: 5px; display: flex; float: right">
                                <% 
                                const transferido = aluno.status === "Transferido"
                                let dataTransferido
                                if (transferido === true)
                                    dataTransferido = new Date(aluno.transferido_data) %>
                                <div style="min-width: 30px" class="text-line text-center">
                                    <%= transferido ? padWithZero(dataTransferido.getDate()) : "" %>
                                </div>
                                /
                                <div style="min-width: 30px" class="text-line text-center">
                                    <%= transferido ? padWithZero(dataTransferido.getMonth() + 1) : "" %>
                                </div>
                                /
                                <div style="min-width: 50px" class="text-line text-center">
                                    <%= transferido ? dataTransferido.getFullYear() : "" %>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input id="transferido" <%= aluno.desistente ? "checked" : "" %> type="checkbox" />
                            <label for="transferido">Desistente</label>
                            <div style="margin-left: 5px; display: flex; float: right">
                                <% 
                                    const desistente = aluno.status === "Desistente"
                                    let desistenteData
                                    if (desistente === true)
                                        desistenteData = new Date(aluno.desistente_data) %>
                                <div style="min-width: 30px" class="text-line text-center">
                                    <%= desistente ? padWithZero(desistenteData.getDate()) : "" %>
                                </div>
                                /
                                <div style="min-width: 30px" class="text-line text-center">
                                    <%= desistente ? padWithZero(desistenteData.getMonth() + 1) : "" %>
                                </div>
                                /
                                <div style="min-width: 50px" class="text-line text-center">
                                    <%= desistente ? desistenteData.getFullYear() : "" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (tipo_documento === "Infantil") { %>
            <div style="margin-top: 10px;">
                <%# TODO: Relatório Descritivo %>
                <% if (aluno.relatorio_experiencia) { %>
                <h3 class="text-center"><u>AVALIAÇÃO</u></h3>
                <%- include("../reusable/ficha-acompanhamento/lista-relatorio-objetivo.ejs", { relatorio_experiencia: aluno.relatorio_experiencia }) %>
                <% } %>
            </div>
            <% } %>
            <br />
        </div>
    <% }) %>
    
    <div class="page-break" style="margin: 10px;">
        <%
        const monthDict = {
            0: "Janeiro",
            1: "Fevereiro",
            2: "Março",
            3: "Abril",
            4: "Maio",
            5: "Junho",
            6: "Julho",
            7: "Agosto",
            8: "Setembro",
            9: "Outubro",
            10: "Novembro",
            11: "Dezembro"
        }
        
        sortDateArray = function(dateArray) {
            if (dateArray.length > 0) {
                return dateArray.sort((a, b) => {
                    return new Date(a.data) - new Date(b.data)
                })
            }
            return []
        }

        getFirstMonthFromDateArray = function(dateArray) {
            const sortedDateArray = sortDateArray(dateArray)
            return monthDict[new Date(sortedDateArray[sortedDateArray.length - 1].data).getMonth()]
        }
        sortDateArray2 = function(dateArray2) {
            if (dateArray2.length > 0) {
                return dateArray2.sort((a, b) => {
                    return new Date(a.data) - new Date(b.data)
                })
            }
            return []
        }

        getFirstMonthFromDateArray2 = function(dateArray2) {
            const sortedDateArray2 = sortDateArray(dateArray2)
            return monthDict[new Date(sortedDateArray2[sortedDateArray2.length - 1].dataTermino).getMonth()]
        }


        %>

        <h3 class="text-center"><u>REGISTRO DE AULA</u></h3>
        <% const dateArray = sortDateArray(registros_aulas) %> 
        <% if (dateArray.length > 0) { %>
            <div style="text-align: center; margin: 20px;">
                <b>Mês:</b> De <%= getFirstMonthFromDateArray2(registros_aulas) %> a <%= getFirstMonthFromDateArray(registros_aulas) %> 
            </div>
        <% } %>
        <%- include("../reusable/diario-classe/lista-registro-aula.ejs") %>
    </div>
    <% if (reposicao_aulas.length > 0) { %>
        <div class="page-break" style="margin: 10px;">
            <h3 class="text-center"><u>REGISTRO DE REPOSIÇÃO DE AULA</u></h3>
            <div style="text-align: center; margin: 20px;">
                <b>Mês:</b> De <%= getFirstMonthFromDateArray2(reposicao_aulas) %> a <%= getFirstMonthFromDateArray(reposicao_aulas) %> 
            </div>
            <%- include("../reusable/diario-classe/lista-registro-aula.ejs", { registros_aulas: reposicao_aulas }) %>
        </div>
        <div class="page-break">
            <div>
                <div style="margin-top: 1000px;" class="text-center">
                    <%= fundo.nome_escola %>
                    <br>
                    <%= fundo.escola_email %>
                    <br>
                    <%= fundo.municipio %> - <%= fundo.uf %>
                </div>
            </div>
        </div>
    <% } %>
</body>
</html>
