<!DOCTYPE html>
<html>

<head>
    <%- include("../css/common.ejs") %>
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <meta charset="utf-8">
    <style>
        .nota-header {
            text-align: center;
            flex-grow: 1;
            padding: 5px;
            border: 1px solid;
        }

        .left-item {
            padding: 5px;
            border: 1px solid;
            font-size: 12px;
        }

        .flex-grow {
            flex-grow: 1;
        }

        .block {
            margin-bottom: 5px;
            font-size: 15px;
        }

        .rotated-text {
            font-size: 12px;
            flex-grow: 1;
            padding: 5px;
            border: 1px solid;
            writing-mode: vertical-rl;
        }

        .block {
            font-size: 13px;
        }

        #container {
            break-inside: avoid-page;
        }
    </style>
</head>

<body>
    
    <div id="container">

        <%- include("../reusable/header2.ejs") %>
        <div class="block">
            <div class="multicolumn">
                <div class="flex small-gap padding-top">
                    <div class="flex flex-column">
                        <div class="text-line text-center"><%= transferencia.denominacao_estabelecimento %></div>
                        <div class="small-text">Denominação do Estabelecimento</div>
                    </div>
                    <div class="flex flex-column">
                        <div class="text-line text-center"><%= transferencia.local %></div>
                        <div class="small-text">Local</div>
                    </div>
                </div>
            </div>
            <div class="multicolumn">
                <div class="flex small-gap">
                    <div class="flex flex-column">
                        <div class="text-line text-center"><%= transferencia.ato_autorizacao %></div>
                        <div class="small-text">Ato de Autorização</div>
                    </div>
                    <% const dataAutorizacao = new Date(transferencia.data_ato_autorizacao) %> 
                    <div class="flex flex-column">
                        <div class="flex" style="flex-grow: 1;">
                            <div class="text-line text-center"><%= dataAutorizacao.getDate().toString().padStart(2, "0") %> </div>
                            /
                            <div class="text-line text-center"><%= dataAutorizacao.getMonth().toString().padStart(2, "0") %> </div>
                            /
                            <div class="text-line text-center"><%= dataAutorizacao.getFullYear() %></div>
                        </div>
                        <div class="small-text">Data</div>
                    </div>
                    <div class="flex flex-column">
                        <div class="text-line text-center"><%= transferencia.ato_reconhecimento %> </div>
                        <div class="small-text">Ato de Reconhecimento</div>
                    </div>
                    <div class="flex flex-column">
                        <% const dataReconhecimento = new Date(transferencia.data_ato_reconhecimento) %> 
                        <div class="flex" style="flex-grow: 1;">
                            <div class="text-line text-center"><%= dataReconhecimento.getDate().toString().padStart(2, "0") %></div>
                            /
                            <div class="text-line text-center"><%= dataReconhecimento.getMonth().toString().padStart(2, "0") %></div>
                            /
                            <div class="text-line text-center"><%= dataReconhecimento.getFullYear() %> </div>
                        </div>
                        <div class="small-text">Data</div>
                    </div>
                </div>
            </div>
            <div>
                <% const dataNascimento = new Date(aluno.data_nascimento) %>
                <b>
                    Concedemos a presente Guia de Transferência ao(a) Aluno(a) <u><%= aluno.nome %></u>, filho(a) de
                    <u><%= aluno.nome_mae %></u> e de <u><%= aluno.nome_pai %></u>, nascido em
                    <u><%= dataNascimento.getDate().toString().padStart(2, "0") %></u>/<u><%= dataNascimento.getMonth().toString().padStart(2, "0") %></u>/<u><%= dataNascimento.getFullYear() %></u>,
                    na Cidade de <u><%= aluno.cidade %></u>, Estado de <u><%= aluno.estado %></u>, nacionalidade
                    <u><%= aluno.nacionalidade %></u>
                    <br>
                    Matriculado(a) em <u><%= aluno.matriculado_em %></u>, no <u><%= aluno.ano_matriculado %></u> ano
                    neste Instituição de Ensino, conforme rendimento obtido abaixo e/ou no verso desta Guia.
                </b>
            </div>
        </div>
        <div class="block">
            <b>
                (<%= aluno.iniciou_curso == "true" ? "X" : " " %>) O (A) Aluno (a) iniciou o curso nos termos da Lei
                5692/71 e 7044/88 tendo frequência satisfatória nas disciplinas.
            </b>
            <div class="multicolumn">
                <div class="inline">
                    <b>O NIS do(a) Aluno (a) na frequência escolar:</b>
                    <div class="text-line"><%= aluno.nis %></div>
                </div>
            </div>
        </div>
        <div style="border: 1px solid; margin-bottom: 5px;" class="flex flex-column">
            <div class="flex flex-column">
                <div class="nota-header">
                    Transferência por Atividade ou Disciplina
                </div>
                <div class="flex">
                    <div class="flex flex-column">
                        <div class="flex">
                            <div class="flex flex-column">
                                <div class="flex">
                                    <div class="flex flex-column">
                                        <div class="flex flex-column">
                                            <div class="nota-header">
                                                Unidades
                                            </div>
                                            <div class="left-item">
                                                1° Conceito ou Nota
                                            </div>
                                            <div class="left-item">
                                                2° Conceito ou Nota
                                            </div>
                                            <div class="left-item">
                                                Média Semestral
                                            </div>
                                            <div class="left-item">
                                                Nota de Recup. Semestral
                                            </div>
                                            <div class="left-item">
                                                Média Geral do Semestre
                                            </div>
                                            <div class="left-item">
                                                3° Conceito ou Nota
                                            </div>
                                            <div class="left-item">
                                                4° Conceito ou Nota
                                            </div>
                                            <div class="left-item">
                                                Média Semestral
                                            </div>
                                            <div class="left-item">
                                                Nota de Recup. Semestral
                                            </div>
                                            <div class="left-item">
                                                Média Geral do Semestre
                                            </div>
                                            <div class="left-item">
                                                Total de Aulas Dadas
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-column">
                                        <div class="nota-header">
                                            Rendimento Escolar
                                        </div>
                                        <div class="flex">
                                            <div class="nota-header">
                                                Base Nacional Comum
                                            </div>
                                            <div class="nota-header">
                                                Parte Diversificada
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <% if(Array.isArray(materias)){ %>
                                                <% materias.forEach(materia => { %>
                                                <div class="rotated-text">
                                                    <%= materia.nome %>
                                                </div>
                                                <% }) %>
                                            <% } %>
                                        </div>
                                        <div class="flex">
                                            <% if(Array.isArray(materias)){ %>
                                                <% materias.forEach(materia => { %>
                                                <div class="flex flex-column" style="flex-grow: 1;">
                                                    <% if(Array.isArray(materia.notas)){ %>
                                                        <% materia.notas.forEach(nota => { %>
                                                        <div
                                                            style="border: 1px solid; padding: 5px; text-align: center; font-size: 12px;">
                                                            <%= nota %>
                                                        </div>
                                                        <% }) %>
                                                    <% } %>
                                                </div>
                                                <% }) %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="text-center" style="padding-bottom: 70px; margin-bottom: 30px;">
                RESERVADO AO ESTABELECIMENTO
            </div>
        </div>
        <div class="flex small-gap">
            <div class="flex flex-column">
                <div class="flex flex-column padding-top">
                    <div class="text-line"></div>
                    <div class="small-text">Localidade</div>
                </div>
                <div class="flex flex-column padding-top">
                    <div class="text-line"></div>
                    <div class="small-text">Assinatura do Secretário(a)</div>
                </div>
            </div>
            <div class="flex flex-column">
                <div class="flex flex-column">
                    <div class="flex flex-column padding-top">
                        <div class="text-line"></div>
                        <div class="small-text">Data</div>
                    </div>
                    <div class="flex flex-column padding-top">
                        <div class="text-line"></div>
                        <div class="small-text">Assinatura do Diretor(a)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
