<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
        <%- include("../css/ficha.ejs") %>
        <% include("../reusable/utils.ejs") %> 
        <style>
            .center{
                position: relative;
                left: 50%;
                transform: translate(-50%,50%);
            }
        </style>
    </head>
<body>
    <div class="container">
        <img class="center" width="50%"  src="http://localhost:2000/assets/logomarca-infoeduc.png" alt="">
        
        <div id="tabela" class="center" style="position: absolute; top: 30%; width: 100%;">
            <div class="title-header text-center">Listagem de Dependentes</div>
            <table class="table center" style="width: 80%; margin-bottom: 0%; border-spacing: 0; border: 0px; margin-bottom: 0%;">                
                <tr>
                    <td style="width: 60%;">Professor(a):<%= nome_professor %> </td>
                    <td style="width: 40%;">Turma:<%= nome_turma %> </td>
                </tr>
            </table>
            <table class="table center" style="margin-top:-11px;width: 80%; border-spacing: 0; border: 0px;" >

                <thead style="display: table-row-group;" >
                    <tr >
                        <td style="width: 40%;" class="text-center">Alunos</td>
                        <td style="width: 100%;" class="text-center">Rascunho/Observações</td>
                    </tr>
                </thead>
                <tbody>
                    <% lista_alunos.forEach(alunos=> { %>
                        <tr >
                            <td style="width: 40%; height: 30px; padding-left: 10px;"> 
                                <%= alunos.nome_completo %>
                            </td>   
                            <td  style="width: 100%; height: 30px; padding-left: 10px;">
                                <%= alunos.rascunho_obs %>
                            </td>
                        </tr> 
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>