    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/common.ejs") %>
    <style>
        .small-text {
            font-size: 12px;
            text-align: left;
        }
    </style>
</head>
<body>
    <%- include("../reusable/header-escola.ejs") %>
    <div class="campos">
        <div class="flex flex-column small-gap">
            <div class="multicolumn">
                <b class="pad-right">Instituição do Ensino:</b>
                <div class="text-line small-text"><%= nome_escola %></div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Prof (a):</b>
                    <div class="text-line small-text"><%= nome_professor %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Ano/Turma:</b>
                    <div class="text-line small-text"><%= ano_turma %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Área de Conhecimento:</b>
                    <div class="text-line small-text"><%= area_conhecimento %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Ano Letivo:</b>
                    <div class="text-line small-text"><%= ano_letivo %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Componente Curricular:</b>
                    <div class="text-line small-text"><%= componente_curricular %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Período Letivo:</b>
                    <div class="text-line small-text"><%= periodo_letivo %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Nº de Aulas:</b>
                    <div class="text-line small-text"><%= numero_aulas %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Carga Horária:</b>
                    <div class="text-line small-text"><%= carga_horaria %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Data:</b>
                    <div class="text-line small-text"><%= data %></div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="page-title">PLANEJAMENTO DE AULA</h3>
    <div class="flex flex-column">
        <div class="flex">
            <div class="flex flex-column">
                <div class="text-center bg-color item-padding">
                    UNIDADES TÉMATICAS
                </div>
                <div class="item-padding item-border small-text">
                    <%= unidades_tematicas %>
                </div>
            </div>
            <div class="flex flex-column">
                <div class="text-center bg-color item-padding">
                    OBJETIVOS DE CONHECIMENTO
                </div>
                <div class="item-padding item-border small-text">
                    <%= objetivos_conhecimento %>
                </div>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                COMPETÊNCIAS ESPECÍFICAS
            </div>
            <div class="item-padding item-border small-text">
                <% if (componente_curricular.trim().toLowerCase() === "língua portuguesa") { %>
                    <b>1.</b> Compreender a língua como fenômeno cultural, histórico, social, variável, heterogêneo e 
                    sensível aos contextos de uso, reconhecendo-a como meio de construção de 
                    identidades de seus usuários e da comunidade a que pertencem. 
                    <br>
                    <b>2.</b> Apropriar-se  da  linguagem  escrita,  reconhecendo-a  como  forma  de  interação  nos 
                    diferentes campos de atuação da vida social e utilizando-a para ampliar suas 
                    possibilidades  de  participar  da  cultura  letrada,  de  construir  conhecimentos  (inclusive escolares) e de se envolver com maior autonomia e protagonismo na vida social. 
                    <br>
                    <b>3.</b> Ler, escutar e produzir textos orais, escritos e multissemióticos que  circulam  em 
                    diferentes campos de atuação e mídias, com compreensão, autonomia, fluência e criticidade,  de  modo  a  se  expressar  e  partilhar  informações,  experiências,  ideias  e 
                    sentimentos, e continuar aprendendo. 
                    <br>
                    <b>4.</b> Compreender  o  fenômeno  da  variação  linguística,  demonstrando  atitude  respeitosa 
                    diante de variedades linguísticas e rejeitando preconceitos linguísticos. 
                    <br>
                    <b>5.</b> Empregar,  nas  interações  sociais,  a  variedade  e  o  estilo  de  linguagem  adequados  à 
                    situação comunicativa, ao(s) interlocutor(es) e ao gênero do discurso/gênero textual. 
                    <br>
                    <b>6.</b> Analisar informações, argumentos e opiniões manifestados em interações sociais e nos 
                    meios de  comunicação, posicionando-se ética  e  criticamente  em  relação  a  conteúdos 
                    discriminatórios que ferem direitos humanos e ambientais. 
                    <br>
                    <b>7.</b> Reconhecer o texto como lugar de manifestação e negociação de sentidos, valores e ideologias. 
                    <br>
                    <b>8.</b> Selecionar textos e livros para leitura integral, de acordo com objetivos, interesses e projetos pessoais (estudo, formação pessoal, entretenimento, pesquisa, trabalho etc.). 
                    <br>
                    <b>9.</b> Envolver-se em práticas de leitura literária que possibilitem o desenvolvimento do senso estético para fruição, valorizando a literatura e outras manifestações artístico-culturais como formas de acesso às dimensões lúdicas, de imaginário e encantamento, reconhecendo o potencial transformador e humanizador da 
                    experiência com a literatura 
                    <br>
                    <b>10.</b> Mobilizar práticas da cultura digital, diferentes linguagens, mídias e ferramentas digitais para  expandir  as  formas  de  produzir  sentidos (nos processos de compreensão e produção), aprender e refletir sobre o mundo e realizar diferentes projetos autorais.
                <% } %>

                <% if (componente_curricular.trim().toLowerCase() === "arte") { %>
                    <b>1.</b> Explorar, conhecer, fruir e analisar criticamente práticas e produções artísticas e culturais do seu entorno social, dos povos indígenas, das comunidades tradicionais 
                    brasileiras e de diversas sociedades, em distintos tempos e espaços, para reconhecer a arte como um fenômeno cultural, histórico, social e sensível a diferentes contextos 
                    e dialogar com as diversidades. 
                    <br>
                    <b>2.</b> Compreender  as  relações  entre  as  linguagens  da  Arte  e  suas  práticas  integradas, 
                    inclusive aquelas possibilitadas pelo uso das novas tecnologias de informação e comunicação, pelo cinema e pelo audiovisual, nas condições particulares de produção, 
                    na prática de cada linguagem e nas suas articulações. 
                    <br>
                    <b>3.</b> Pesquisar e conhecer distintas matrizes estéticas e culturais – especialmente  aquelas 
                    manifestas na arte e nas culturas que constituem a identidade brasileira –, sua tradição 
                    e manifestações contemporâneas,  reelaborando-as nas criações em Arte.
                    <br> 
                    <b>4.</b> Experienciar a ludicidade, a percepção, a expressividade e a imaginação, 
                    ressignificando espaços da escola e de fora dela no âmbito da Arte. 
                    <br>
                    <b>5.</b> Mobilizar recursos tecnológicos como formas de registro, pesquisa e criação artística. 
                    <br>
                    <b>6.</b> Estabelecer relações entre arte, mídia, mercado e consumo, compreendendo, de forma crítica e problematizadora, modos de produção e de circulação da arte na sociedade. 
                    <br>
                    <b>7.</b> Problematizar questões políticas, sociais, econômicas, científicas, tecnológicas e 
                    culturais, por meio de exercícios, produções, intervenções e apresentações artísticas. 
                    <br>
                    <b>8.</b> Desenvolver a autonomia, a crítica, a autoria e o trabalho coletivo e colaborativo nas artes. 
                    <br>
                    <b>9.</b> Analisar e valorizar o patrimônio artístico nacional e internacional, material e imaterial, 
                    com suas histórias e diferentes visões de  mundo.
                <% } %>
                <% if (componente_curricular.trim().toLowerCase() === "educação física") { %>
                    <b>1.</b> Compreender a origem da cultura corporal de movimento e seus vínculos com a 
                    organização da vida coletiva e individual. 
                    <br>
                    <b>2.</b> Planejar e empregar estratégias para resolver desafios e aumentar as possibilidades de 
                    aprendizagem das práticas corporais, além de se envolver  no  processo  de  ampliação  do 
                    acervo cultural nesse campo. 
                    <br>
                    <b>3.</b> Refletir, criticamente, sobre as relações entre a realização das práticas corporais e os 
                    processos de saúde/doença, inclusive no contexto das atividades laborais. 
                    <br>
                    <b>4.</b> Identificar  a  multiplicidade  de  padrões  de  desempenho,  saúde,  beleza e  estética 
                    corporal, analisando, criticamente, os modelos disseminados  na mídia e discutir posturas consumistas e preconceituosas. 
                    <br>
                    <b>5.</b> Identificar  as  formas  de  produção  dos  preconceitos,  compreender  seus  efeitos  e 
                    combater posicionamentos discriminatórios em relação às práticas  corporais  e  aos  seus 
                    participantes. 
                    <br>
                    <b>6.</b> Interpretar e recriar os valores, os sentidos e os significados atribuídos às diferentes 
                    práticas corporais, bem como aos sujeitos que delas participam. 
                    <br>
                    <b>7.</b> Reconhecer  as  práticas  corporais como  elementos  constitutivos  da identidade  cultural 
                    dos povos e grupos. 
                    <br>
                    <b>8.</b> Usufruir  das  práticas  corporais  de  forma  autônoma  para  potencializar  o  envolvimento 
                    em contextos de lazer, ampliar as redes de sociabilidade e a promoção da saúde. 
                    <br>
                    <b>9.</b> Reconhecer  o  acesso  às  práticas  corporais  como  direito  do  cidadão,  propondo  e 
                    produzindo alternativas para sua realização no contexto comunitário. 
                    <br>
                    <b>10.</b> Experimentar, desfrutar, apreciar e criar diferentes brincadeiras, jogos, danças, ginásticas, esportes, lutas e práticas corporais de aventura, valorizando o trabalho coletivo 
                    e o protagonismo.
                <% } %>
                <% if (componente_curricular.trim().toLowerCase() === "língua inglesa") { %>
                    <b>1.</b> Identificar o lugar de si e o do outro em um mundo plurilíngue e multicultural, refletindo, 
                    criticamente,  sobre  como  a  aprendizagem  da  língua  inglesa  contribui  para  a  inserção 
                    dos sujeitos no mundo globalizado, inclusive no que concerne ao mundo do trabalho. 
                    <br>
                    <b>2.</b> Comunicar-se  na  língua  inglesa,  por  meio  do  uso  variado  de  linguagens  em  mídias 
                    impressas ou digitais, reconhecendo-a como ferramenta de acesso ao conhecimento, de 
                    ampliação  das  perspectivas  e  de  possibilidades  para  a  compreensão  dos  valores  e 
                    interesses de outras culturas e para o exercício do protagonismo social. 
                    <br>
                    <b>3.</b> Identificar  similaridades  e  diferenças  entre  a  língua  inglesa  e  a  língua  materna/outras 
                    línguas,  articulando-as  a  aspectos  sociais,  culturais  e  identitários,  em  uma  relação 
                    intrínseca entre língua, cultura e identidade. 
                    <br>
                    <b>4.</b> Elaborar  repertórios  linguístico-discursivos  da  língua  inglesa,  usados  em  diferentes 
                    países e por grupos sociais distintos dentro de um mesmo país, de modo a reconhecer a diversidade linguística como  direito  e  valorizar      os  usos  heterogêneos,  híbridos  e 
                    multimodais emergentes nas sociedades contemporâneas. 
                    <br>
                    <b>5.</b> Utilizar novas tecnologias, com novas linguagens e modos de interação, para  pesquisar, 
                    selecionar, compartilhar, posicionar-se  e  produzir sentidos  em  práticas de letramento na 
                    língua inglesa, de forma ética, crítica e responsável. 
                    <br>
                    <b>6.</b> Conhecer diferentes patrimônios culturais, materiais e imateriais, difundidos  na  língua 
                    inglesa, com vistas ao exercício da fruição e da ampliação  de perspectivas no contato 
                    com diferentes manifestações artístico-culturais. 
                <% } %>
                <% if (componente_curricular.trim().toLowerCase() === "matemática") { %>
                    <b>1.</b> Reconhecer  que  a  Matemática  é  uma  ciência  humana,  fruto  das  necessidades e 
                    preocupações de diferentes culturas, em diferentes momentos históricos, e é uma ciência 
                    viva,  que  contribui para solucionar problemas científicos e tecnológicos e  para 
                    alicerçar descobertas e construções, inclusive com impactos no mundo do trabalho. 
                    <br>
                    <b>2.</b> Desenvolver o raciocínio lógico, o espírito de investigação e a  capacidade de produzir 
                    argumentos convincentes, recorrendo aos conhecimentos matemáticos para 
                    compreender e atuar no mundo. 
                    <br>
                    <b>3.</b> Compreender  as  relações  entre  conceitos  e  procedimentos  dos  diferentes  campos  da 
                    Matemática  (Aritmética,  Álgebra,  Geometria,  Estatística  e  Probabilidade)  e  de  outras áreas do conhecimento, sentindo segurança quanto à própria capacidade de construir e aplicar conhecimentos matemáticos, desenvolvendo a autoestima e a perseverança na 
                    busca de soluções. 
                    <br>
                    <b>4.</b> Fazer observações sistemáticas de aspectos quantitativos e qualitativos presentes nas 
                    práticas  sociais  e  culturais,  de  modo  a  investigar,  organizar,  representar  e  comunicar 
                    informações relevantes, para interpretá-las e avaliá-las crítica e eticamente, produzindo 
                    argumentos convincentes. 
                    <br>
                    <b>5.</b> Utilizar processos e ferramentas matemáticas, inclusive tecnologias digitais disponíveis, 
                    para modelar e resolver problemas cotidianos, sociais e de outras áreas de 
                    conhecimento, validando estratégias e resultados. 
                    <br>
                    <b>6.</b> Enfrentar situações-problema em múltiplos contextos, incluindo-se situações 
                    imaginadas, não diretamente relacionadas com o aspecto  prá- tico-utilitário, expressar 
                    suas  respostas  e  sintetizar  conclusões,  utilizando  diferentes  registros    e    linguagens  
                    (gráficos,    tabelas,    esquemas,    além de  texto  escrito  na  língua  materna  e  outras 
                    linguagens para descrever algoritmos, como fluxogramas, e dados). 
                    <br>
                    <b>7.</b> Desenvolver e/ou discutir projetos que abordem, sobretudo, questões de urgência social, 
                    com  base  em  princípios  éticos,  democráticos,  sustentáveis  e  solidários,  valorizando  a 
                    diversidade de opiniões de indivíduos e de grupos sociais, sem preconceitos de qualquer 
                    natureza. 
                    <br>
                    <b>8.</b> Interagir com seus pares de forma cooperativa, trabalhando coletivamente no 
                    planejamento e desenvolvimento de pesquisas para responder a ques- tionamentos e 
                    na busca de soluções para problemas, de modo a identificar aspectos consensuais ou 
                    não  na  discussão  de  uma  determinada  questão,  respeitando  o  modo  de  pensar  dos 
                    colegas e aprendendo com eles.
                <% } %>
                <% if (componente_curricular.trim().toLowerCase() === "ciências da natureza") { %>
                    <b>1.</b> Compreender as Ciências da Natureza como empreendimento humano, e o 
                    conhecimento científico como provisório, cultural e  histórico. 
                    <br>
                    <b>2.</b> Compreender  conceitos  fundamentais  e  estruturas  explicativas  das  Ciências da 
                    Natureza, bem como dominar processos, práticas e procedimentos da investigação científica, de modo a sentir segurança no debate de questões  científicas, tecnológicas, 
                    socioambientais  e  do  mundo  do  trabalho,  continuar aprendendo e  colaborar   para    a 
                    construção de uma sociedade justa, democrática e inclusiva. 
                    <b></b>
                    <b>3.</b> Analisar, compreender  e explicar características, fenômenos  e  processos relativos ao 
                    mundo natural,  social e tecnológico  (incluindo  o  digital),  como também as relações 
                    que se estabelecem entre eles, exercitando a curiosidade para fazer perguntas, buscar 
                    respostas e criar soluções (inclusive  tecnológicas)  com  base  nos  conhecimentos  das 
                    Ciências da Natureza. 
                    <br>
                    <b>4.</b> Avaliar aplicações e implicações políticas, socioambientais e culturais da ciência e de 
                    suas  tecnologias  para  propor  alternativas  aos  desafios  do  mundo  contemporâneo, 
                    incluindo aqueles relativos ao mundo do trabalho. 
                    <br>
                    <b>5.</b> Construir  argumentos  com  base  em  dados,  evidências  e  informações  confiáveis  e 
                    negociar e defender ideias e pontos de vista que promovam a consciência 
                    socioambiental  e  o  respeito  a  si  próprio  e  ao  outro,  acolhendo  e  valorizando  a 
                    diversidade de indivíduos e de grupos sociais, sem preconceitos de qualquer natureza. 
                    <br>
                    <b>6.</b> Utilizar diferentes  linguagens e tecnologias  digitais de informação e comunicação para 
                    se  comunicar,  acessar  e  disseminar  informações,  produzir  conhecimentos  e  resolver 
                    problemas das Ciências da Natureza de forma  crítica, significativa, reflexiva e ética. 
                    <br>
                    <b>7.</b> Conhecer,  apreciar  e  cuidar  de  si,  do  seu  corpo  e  bem-estar,  compreenden-  do-se  na 
                    diversidade humana, fazendo-se respeitar e respeitando o outro, recorrendo  aos 
                    conhecimentos das Ciências da Natureza e às suas tecnologias. 
                    <br>
                    <b>8.</b> Agir pessoal e coletivamente com respeito, autonomia, responsabilidade, flexibilidade,  
                    resiliência e determinação, recorrendo aos conhecimentos das  Ciências  da  Natureza 
                    para tomar decisões frente a questões  científico-tec- nológicas e socioambientais e a 
                    respeito da saúde individual e coletiva, com base em princípios éticos, democráticos, 
                    sustentáveis e solidários.
                <% } %>
                <% if (componente_curricular.trim().toLowerCase() === "geografia") { %>
                    <b>1.</b> Utilizar os conhecimentos geográficos para entender a interação sociedade/ natureza e 
                    exercitar o interesse e o espírito de investigação e de resolução de problemas. 
                    <br>
                    <b>2.</b> Estabelecer conexões entre diferentes temas do conhecimento geográfico, 
                    reconhecendo a importância dos objetos técnicos para a compreensão das formas como 
                    os seres humanos fazem uso dos recursos da natureza ao longo da história. 
                    <br>
                    <b>3.</b> Desenvolver autonomia e senso crítico para compreensão e aplicação    do raciocínio 
                    geográfico  na  análise  da  ocupação  humana  e  produção  do  espaço,  envolvendo  os 
                    princípios  de  analogia,  conexão,  diferenciação,  distribuição,  extensão,  localização  e 
                    ordem. 
                    <br>
                    <b>4.</b> Desenvolver  o  pensamento  espacial,  fazendo  uso  das  linguagens  cartográ-  ficas  e 
                    iconográficas,  de  diferentes gêneros textuais  e  das  geotecnologias  para  a  resolução  de 
                    problemas que envolvam informações geográficas. 
                    <br>
                    <b>5.</b> Desenvolver  e  utilizar  processos,  práticas  e  procedimentos  de  investigação para 
                    compreender o mundo natural, social, econômico, político e o meio técnico-científico 
                    e  informacional,    avaliar    ações    e    propor    perguntas  e  soluções  (inclusive 
                    tecnológicas) para questões que requerem conhecimentos científicos da Geografia. 
                    <br>
                    <b>6.</b> Construir argumentos com base em informações geográficas, debater e defender ideias 
                    e pontos de vista que respeitem e promovam a consciência socioambiental e o respeito 
                    à biodiversidade e ao outro, sem preconceitos de qualquer natureza. 
                    <br>
                    7. Agir pessoal e coletivamente com respeito, autonomia, responsabilidade, flexibilidade,  
                    resiliência  e  determinação,  propondo  ações  sobre  as  questões  socioambientais, com 
                    base em princípios éticos, democráticos, sustentáveis e solidários.
                <% } %>
                <% if (componente_curricular.trim().toLowerCase() === "história") { %>
                    <b>1.</b> Utilizar os conhecimentos geográficos para entender a interação sociedade/ natureza e 
                    exercitar o interesse e o espírito de investigação e de resolução de problemas. 
                    <br>
                    <b>2.</b> Estabelecer conexões entre diferentes temas do conhecimento geográfico, 
                    reconhecendo a importância dos objetos técnicos para a compreensão das formas como 
                    os seres humanos fazem uso dos recursos da natureza ao longo da história. 
                    <br>
                    <b>3.</b> Desenvolver autonomia e senso crítico para compreensão e aplicação    do raciocínio 
                    geográfico  na  análise  da  ocupação  humana  e  produção  do  espaço,  envolvendo  os 
                    princípios  de  analogia,  conexão,  diferenciação,  distribuição,  extensão,  localização  e 
                    ordem. 
                    <b>4.</b> Desenvolver  o  pensamento  espacial,  fazendo  uso  das  linguagens  cartográ-  ficas  e 
                    iconográficas,  de  diferentes gêneros textuais  e  das  geotecnologias  para  a  resolução  de 
                    problemas que envolvam informações geográficas. 
                    <br>
                    <b>5.</b> Desenvolver  e  utilizar  processos,  práticas  e  procedimentos  de  investigação para 
                    compreender o mundo natural, social, econômico, político e o meio técnico-científico 
                    e  informacional,    avaliar    ações    e    propor    perguntas  e  soluções  (inclusive tecnológicas) para questões que requerem conhecimentos científicos da Geografia. 
                    <br>
                    <b>6.</b> Construir argumentos com base em informações geográficas, debater e defender ideias 
                    e pontos de vista que respeitem e promovam a consciência socioambiental e o respeito 
                    à biodiversidade e ao outro, sem preconceitos de qualquer natureza. 
                    <br>
                    <b>7.</b> Agir pessoal e coletivamente com respeito, autonomia, responsabilidade, flexibilidade,  
                    resiliência  e  determinação,  propondo  ações  sobre  as  questões  socioambientais, com 
                    base em princípios éticos, democráticos, sustentáveis e solidários.
                <% } %>
                <% if (componente_curricular.trim().toLowerCase() === "ensino religioso") { %>
                    <b>1.</b> Conhecer os aspectos estruturantes das diferentes tradições/movimentos religiosos e 
                    filosofias de vida, a partir de pressupostos científicos, filosóficos, estéticos e éticos. 
                    <br>
                    <b>2.</b> Compreender,  valorizar  e  respeitar  as  manifestações  religiosas  e  filosofias  de  vida, 
                    suas experiências e saberes, em diferentes tempos, espaços e territórios. 
                    <br>
                    <b>3.</b> Reconhecer  e  cuidar  de  si,  do  outro,  da  coletividade  e  da  natureza,  enquanto =
                    expressão de valor da vida. 
                    <br>
                    <b>4.</b> Conviver com a diversidade de crenças, pensamentos, convicções, modos de ser e viver. 
                    <br>
                    <b>5.</b> Analisar as relações entre as tradições religiosas e os campos da cultura, da política, 
                    da economia, da saúde, da ciência, da tecnologia   e do meio  ambiente. 
                    <br>
                    <b>6.</b> Debater, problematizar e posicionar-se frente aos discursos e práticas  de intolerância, 
                    discriminação e violência de cunho religioso, de modo a assegurar os direitos humanos 
                    no constante exercício da cidadania e da cultura de paz. 
                <% } %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                HABILIDADES 
            </div>
            <div class="item-padding item-border small-text">
                <%= habilidades %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                PROCEDIMENTO DIDÁTICO
            </div>
            <div class="item-padding item-border small-text">
                <%= procedimento_didatico %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                RECURSOS/MATERIAIS
            </div>
            <div class="item-padding item-border small-text">
                <%= recursos_materiais %> 
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                AVALIAÇÃO
            </div>
            <div class="item-padding item-border small-text">
                <%= avaliacao %> 
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                REFERÊNCIAS BIBLIOGRÁFICAS
            </div>
            <div class="item-padding item-border small-text">
                <%= referencias_bibliograficas %> 
            </div>
        </div>
    </div>
</body>
</html>