<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/common.ejs") %> 
    <style>
        .small-text {
            font-size: 12px;
            text-align: left;
        }
    </style>
</head>
<body>
    <%- include("../reusable/header-escola.ejs") %>
    <div class="campos">
        <div class="flex flex-column small-gap">
            <div class="multicolumn">
                <b class="pad-right">Instituição do Ensino:</b>
                <div class="text-line small-text"><%= nome_escola %></div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Prof (a):</b>
                    <div class="text-line small-text"><%= nome_professor %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Ano/Turma:</b>
                    <div class="text-line small-text"><%= ano_turma %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Faixa Etária:</b>
                    <div class="text-line small-text"><%= faixa_etaria %></div>
                </div>
                <div class="multicolumn" style="width: 250px;">
                    <b class="pad-right">Ano Letivo:</b>
                    <div class="text-line small-text"><%= ano_letivo %></div>
                </div>
                <div class="multicolumn" style="width: 350px;">
                    <b class="pad-right">Período Letivo:</b>
                    <div class="text-line small-text"><%= periodo_letivo %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Nº de Aulas:</b>
                    <div class="text-line small-text"><%= numero_aulas %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Carga Horária:</b>
                    <div class="text-line small-text"><%= carga_horaria %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Data:</b>
                    <div class="text-line small-text"><%= data %></div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="page-title">PLANEJAMENTO DE AULA</h3>
    <div class="flex flex-column">
        <div class="flex">
            <div class="flex flex-column">
                <div class="text-center bg-color item-padding">
                    EIXO TÉMATICO
                </div>
                <div class="small-text" style="word-break: break-all;">
                    <% if (eixo_tematico_conteudo) { %>
                        <% eixo_tematico_conteudo.split("\n").forEach(texto => { %>
                            <%= texto %><br>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            <div class="flex flex-column">
                <div class="text-center bg-color item-padding">
                    CAMPOS DE EXPERIÊNCIA
                </div>
                <div class="small-text" style="word-break: break-all;">
                    <% if (campos_experiencia) { %>
                        <% campos_experiencia.split("\n").forEach(texto => { %>
                            <%= texto %><br> 
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                OBJETOS DE APRENDIZAGEM E DESENVOLVIMENTO
            </div>
            <div class="small-text" style="word-break: break-all;">
                <% if (objetivos_aprendizagem_desenvolvimento) { %>
                    <% objetivos_aprendizagem_desenvolvimento.split("\n").forEach(texto => { %>
                        <%= texto %><br>
                    <% }) %>
                <% } %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                PROCEDIMENTO DIDÁTICO/METODOLOGIA
            </div>
            <div class="item-padding item-border small-text" style="word-break: break-all;">
                <% if (procedimento_didatico) { %>
                    <% procedimento_didatico.split("\n").forEach(text => { %>
                        <%-include("../reusable/verificar_formatacao_2.ejs",{text})  %> <br> 
                    <% }) %> 
                <% } %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                RECURSOS/MATERIAIS
            </div>
            <div class="item-padding item-border small-text" style="word-break: break-all;">
                <% if (recursos_materiais) { %>
                    <% recursos_materiais.split("\n").forEach(texto => { %>
                        <%= texto %><br> 
                    <% }) %> 
                <% } %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                AVALIAÇÃO
            </div>
            <div class="item-padding item-border small-text" style="word-break: break-all;">
                <% if (avaliacao) { %>
                    <% avaliacao.split("\n").forEach(texto => { %>
                        <%= texto %><br>
                    <% }) %>
                <% } %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                REFERÊNCIAS BIBLIOGRÁFICAS
            </div>
            <div class="item-padding item-border small-text" style="word-break: break-all;">
                <% if (referencias_bibliograficas) { %>
                    <% referencias_bibliograficas.split("\n").forEach(texto => { %>
                        <%= texto %> 
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>