    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/common.ejs") %>
    <style>
        .small-text {
            font-size: 12px;
            text-align: left;
        }
    </style>
</head>
<body>
    <%- include("../reusable/header-escola.ejs") %>
    <div class="campos">
        <div class="flex flex-column small-gap">
            <div class="multicolumn">
                <b class="pad-right">Instituição do Ensino:</b>
                <div class="text-line small-text"><%= nome_escola %></div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Prof (a):</b>
                    <div class="text-line small-text"><%= nome_professor %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Ano/Turma:</b>
                    <div class="text-line small-text"><%= ano_turma %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Área de Conhecimento:</b>
                    <div class="text-line small-text"><%= area_conhecimento %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Ano Letivo:</b>
                    <div class="text-line small-text"><%= ano_letivo %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Componente Curricular:</b>
                    <div class="text-line small-text"><%= componente_curricular %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Período Letivo:</b>
                    <div class="text-line small-text"><%= periodo_letivo %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Nº de Aulas:</b>
                    <div class="text-line small-text"><%= numero_aulas %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Carga Horária:</b>
                    <div class="text-line small-text"><%= carga_horaria %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Data:</b>
                    <div class="text-line small-text"><%= data %></div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="page-title">PLANEJAMENTO DE AULA</h3>
    <div class="flex flex-column">
        <% if (tipo_componente_curricular === "Português") { %>
            <div class="flex">
                <div class="flex flex-column">
                    <div class="text-center bg-color item-padding">
                        CAMPO DE ATUAÇÃO
                    </div>
                    <div class="item-padding item-border small-text">
                        <%= campo_atuacao %> 
                    </div>
                </div>
                <div class="flex flex-column">
                    <div class="text-center bg-color item-padding">
                        PRÁTICAS DE LINGUAGEM
                    </div>
                    <div class="item-padding item-border small-text">
                        <%= praticas_linguagem %> 
                    </div>
                </div>
                <div class="flex flex-column">
                    <div class="text-center bg-color item-padding">
                        OBJETOS DE CONHECIMENTO
                    </div>
                    <div class="item-padding item-border small-text">
                        <%= objetos_conhecimento %> 
                    </div>
                </div>
            </div>
        <% } %>
        <% if (tipo_componente_curricular === "Inglês") { %>
            <div class="flex">
                <div class="flex flex-column">
                    <div class="text-center bg-color item-padding">
                        EIXO
                    </div>
                    <div class="item-padding item-border small-text">
                        <%= eixo %> 
                    </div>
                </div>
                <div class="flex flex-column">
                    <div class="text-center bg-color item-padding">
                        UNIDADES TEMÁTICAS
                    </div>
                    <div class="item-padding item-border small-text">
                        <%= unidades_tematicas %> 
                    </div>
                </div>
                <div class="flex flex-column">
                    <div class="text-center bg-color item-padding">
                        OBJETOS DE CONHECIMENTO
                    </div>
                    <div class="item-padding item-border small-text">
                        <% objetos_conhecimento.split("\n").forEach(text => { %>
                            <%= text %>
                        <% }) %> 
                    </div>
                </div>
            </div>
        <% } %>
        <% if (tipo_componente_curricular === null) { %>
            <div class="flex">
                <div class="flex flex-column">
                    <div class="text-center bg-color item-padding">
                        UNIDADES TÉMATICAS
                    </div>
                    <div class="item-padding item-border small-text">
                        <%= unidades_tematicas %>
                    </div>
                </div>
                <div class="flex flex-column">
                    <div class="text-center bg-color item-padding">
                        OBJETOS DE CONHECIMENTO
                    </div>
                    <div class="item-padding item-border small-text">
                        <%= objetivos_conhecimento %>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                HABILIDADES 
            </div>
            <div class="item-padding item-border small-text">
                <%= habilidades %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                PROCEDIMENTO DIDÁTICO/METODOLÓGICO
            </div>
            <div class="item-padding item-border small-text">
                <%= procedimento_didatico %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                RECURSOS/MATERIAIS
            </div>
            <div class="item-padding item-border small-text">
                <%= recursos_materiais %> 
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                AVALIAÇÃO
            </div>
            <div class="item-padding item-border small-text">
                <%= avaliacao %> 
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                REFERÊNCIAS BIBLIOGRÁFICAS
            </div>
            <div class="item-padding item-border small-text">
                <%= referencias_bibliograficas %> 
            </div>
        </div>
    </div>
</body>
</html>