    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/common.ejs") %>
</head>
<body>
    <%- include("../reusable/header-escola.ejs") %>
    <div class="campos">
        <div class="flex flex-column small-gap">
            <div class="multicolumn">
                <b class="pad-right">Instituição do Ensino:</b>
                <div class="text-line"><%= nome_escola %></div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Prof (a):</b>
                    <div class="text-line"><%= nome_professor %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Ano/Turma:</b>
                    <div class="text-line"><%= ano_turma %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b class="pad-right">Área de Conhecimento:</b>
                    <div class="text-line"><%= area_conhecimento %></div>
                </div>
                <div class="multicolumn">
                    <b class="pad-right">Ano Letivo:</b>
                    <div class="text-line"><%= ano_letivo %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b>Componente Curricular:</b>
                    <div class="text-line"><%= componente_curricular %></div>
                </div>
                <div class="multicolumn">
                    <b>Período Letivo:</b>
                    <div class="text-line"><%= periodo_letivo %></div>
                </div>
            </div>
            <div class="flex">
                <div class="multicolumn">
                    <b>Nº de Aulas:</b>
                    <div class="text-line"><%= numero_aulas %></div>
                </div>
                <div class="multicolumn">
                    <b>Carga Horária:</b>
                    <div class="text-line"><%= carga_horaria %></div>
                </div>
                <div class="multicolumn">
                    <b>Data:</b>
                    <div class="text-line"><%= data %></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="flex flex-column" style="gap: 20px;">
        <div class="flex">
            <div class="flex flex-column">
                <div class="text-center bg-color item-padding">
                    UNIDADES TÉMATICAS
                </div>
                <div >
                    <%= unidades_tematicas %>
                </div>
            </div>
            <div class="flex flex-column">
                <div class="text-center bg-color item-padding">
                    OBJETIVOS DE CONHECIMENTO
                </div>
                <div>
                    <%= objetivos_conhecimento %>
                </div>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                COMPETÊNCIAS ESPECÍFICAS
            </div>
            <div >
                <%= competencias_especificas %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                HABILIDADES 
            </div>
            <div class="item-padding item-border">
                <%= habilidades %>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                PRODECIMENTO DIDÁTICO
            </div>
            <div class="item-padding item-border" style="word-break: break-all;">
                <%var text = prodecimento_didatico %>
                <%-include("../reusable/verificar_formatacao_2.ejs",{text})  %> <br> 
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                RECURSOS/MATERIAIS
            </div>
            <div class="item-padding item-border">
                <%= recursos_materiais %> 
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                AVALIAÇÃO
            </div>
            <div class="item-padding item-border">
                <%= avaliacao %> 
            </div>
        </div>
        <div class="flex flex-column">
            <div class="text-center bg-color item-padding">
                REFERÊNCIAS BIBLIOGRÁFICAS
            </div>
            <div class="item-padding item-border">
                <%= referencias_bibliograficas %> 
            </div>
        </div>
    </div>
</body>
</html>