<html>

<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <%- include("../reusable/header.ejs") %>
    <div style="margin: 2em; font-size: 17px;">
        <div style="text-align: left;">
            <b><%= emissor.nome %></b>
            <br>
            <%= emissor.nome_cargo %>
            <br>
            <br>
            <br>
            Assunto: <%= oficio.assunto %>
            <br>
            Prezado(a) Sr.ª
            <br>
            <br>
            <br>
        </div>
        <div style="text-align: justify;">
            Eu, <%= receptor.nome %>, inscrito no CPF sob o nº <%= receptor.cpf %>, residente e domiciliado à
            <%= receptor.cidade %>,
            sirvo-me do presente para solicitar <%= emissor.texto %>.
            <br>
            Certo(a) de que a solicitação será atendida, aproveito o ensejo para manifestar os meus votos de elevada
            estima e consideração.
        </div>
        <br>
        <br>
        <br>
        Atenciosamente,
        <br>
        <br>
        <br>
        <div style="margin-left: auto; margin-right: auto; width: 50%; text-align: center;">
            <u>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</u>
            <br>
            <b><%= receptor.nome %></b>
        </div>
    </div>
</body>

</html>