<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <meta charset="UTF-8">
</head>
<%- include("../css/common.ejs") %> 
<body>
    <div id="container">
        <%- include("../reusable/header-escola.ejs") %>
        <div class="flex flex-column small-gap" style="gap: 10px; margin-bottom: 20px;">
            <div class="multicolumn">
                <div class="inline">
                    <b>Estabelecimento de Ensino:</b>
                    <div class="text-line"><%= escola_nome %> </div>
                </div>
                <div class="inline pad-right">
                    <b>Turma:</b>
                    <div class="text-line"><%= nome_turma %></div>
                </div>
            </div>
            <div class="multicolumn">
                <div class="inline pad-right">
                    <b>Prof (a):</b>
                    <div class="text-line"><%= nome_professor %></div>
                </div>
                <div style="max-width: 220px;" class="inline">
                    <b>Período Letivo:</b>
                    <div class="text-line"><%= periodo_letivo %></div>
                </div>
                <div style="max-width: 180px;" class="inline">
                    <b>Ano Letivo:</b>
                    <div class="text-line"><%= ano_letivo %></div>
                </div>
            </div>
        </div>
        <br>
        <h3 class="text-center"><u>REGISTRO DE AULA</u></h3>
        <%- include("../reusable/diario-classe/lista-registro-aula.ejs") %>
    </div>
</body>
</html>