<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/ficha.ejs") %>
    <%- include("../css/common.ejs") %> 
    <style>
         #titulo{
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="container">
        <%- include("../reusable/header.ejs") %>
        <div style="margin-top: 40px;">
            <div id="titulo" ><b>RELATÓRIO DE PROFESSORES</b></div>
            <div style="display: flex;">
                <table class="table" style="width: 100%; border-spacing: 0;">
                    <tr>
                        <td>Nome do professor</td>
                        <td>Turma</td>
                        <td>Celular</td>
                    </tr>
                    <% lista_professor.forEach(element => { %>
                        <tr>
                            <td><%= element.nome_professor %> <%= element.sobrenome_professor %> </td>
                            <td style="max-width: 100px;">
                                <% lista_turmas.forEach(turmas => { %>
                                    <% if (turmas.id_professor == element.id_professor) { %>
                                        <%= turmas.nome_turma %> <br>
                                    <% } %>
                                <% }) %>
                            </td>
                            <td style="max-width: 100px;"><%= element.celular %> </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</body>
</html>