<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/ficha.ejs") %>
    <%- include("../css/common.ejs") %> 
    <style>
      .barra{
        background-color: blue;
        width: 60px;
        margin-left: 20px;
        text-align: right;
        color: white;
        text-align: right;

      }
      .celula{
        margin-top: 25px;
        display: flex;
      }
      #total{
        position: relative;
        left: 97%;
        margin-top: 25px;
      }
      #grafico{
        width: 560px;
        position: absolute;
        top: 50%;
        left: 14%;
      }
      .text{
        font-size: 28px;
      }
      .total_barra{
        text-align: center;
        font-size: 22px;
        position: relative;
        top: 5px;
        margin-left: 5px;
        
      }
      #legenda{
        font-size: 22px;
        margin-left: 140px;
      }
      #zero{
        position: relative;
      }
      ul{
        list-style: none;
        display: flex;
        
      }
      li{
        margin-left: 25px;
      }

    </style>
</head>
<body>
  <div id="container">
    <div style="display: block; text-align: center; margin-left: auto; margin-right: auto; width: 50%; margin-bottom: 10px">
      <img width="100" height="100" src="<%= header.logomarca_url %> ">
  </div>
  <div style="text-align: center; line-height: 1;">
      <div style="font-weight: bold; font-size: 20px; line-height: 0.8;"><%= header.nome %></div>
      <br>
      <%= header.municipio %> / <%= header.uf %> 
      <br>
      <br>
      <b>CNPJ:</b> <%= header.endereco_cnpj %>
  </div>
  
    <div style="text-align: center; position: relative; top: 150px;font-size: 28px; font-weight: bold;">Relatório de Alunos(a) por Etapa de Escolaridade da <%= modulo == "rede" ? "Rede" : "Escola" %> </div>
    <div id="grafico">
      <div class="celula">
        <div class="text">Fundamental</div>
        <div class="barra" style="position: relative; left: -2px; background-color: #0088ff; width: <%= parseInt( alunos_fundamental)/parseInt(total_aluno) *100%>%;"></div><span class="total_barra"><%= alunos_fundamental %> </span>
      </div>
      <hr>
      <div class="celula">
        <div class="text" >Infantil</div>
        <div class="barra" style="background-color: #399DF5; width: <%= parseInt( alunos_infantil)/parseInt(total_aluno)*100 %>%; margin-left: 100px;"></div><span class="total_barra"><%= alunos_infantil %> </span>
      </div>
      <hr>
      <div class="celula">
        <div class="text">EJA</div> 
        <div class="barra" style="background-color: #6AB6F7; width: <%= parseInt(alunos_eja)/parseInt(total_aluno) *100%>%; margin-left: 130px;"></div><span class="total_barra"><%=alunos_eja%></span>
      </div>
      <hr color="black">
      <div id="legenda">
        <div style=" position: relative; left: 40px; top: -240px; height: 230px; border-left: 2px solid black;"></div>
      </div>
      <p style="position: relative; top: -250px;">Total de Alunos: <%= total_aluno %> </p>
    </div> 


  </div>
      <% const dateNow = DateTime.now().setZone("America/Sao_Paulo"); %> 
  <div style="position: absolute; top: 95%; width: 100%; text-align: center; font-size: 14px;">
    PDF gerado pela Plataforma InfoEduc na data <%= dateNow.toFormat("dd/MM/yyyy")%>  às <%= dateNow.toFormat("HH:mm:ss") %> 
    </div>
</body>
</html>