<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <style>
        .flex {
            display: flex;
        }
        .flex-column {
            flex-direction: column;
        }

        .item-border {
            border: 1px solid;
            padding: 5px;
        }

        .text-center {
            text-align: center;
        }

        .grow {
            flex-grow: 1;
        }
    </style>
    <meta charset="UTF-8">
</head>
<body>
    <div style="margin: 20px;">
        <div class="flex flex-column">
            <%
            const materias = []
            const unidades = [] 
            const notasComputadas = []

            if(Array.isArray(notas)){

                notas.forEach(item => {
                    const materia = item.materia
                    const unidade = item.unidade
                    if (materias.indexOf(materia) === -1) materias.push(materia)
                    if (unidades.indexOf(unidade) === -1) unidades.push(unidade)
                });

            }

            
            materias.forEach(materia => {
                const arr = []
                unidades.forEach(unidade => {
                    
                    if(Array.isArray(notas)){

                        notas.forEach(registro => {
                            if (registro.unidade === unidade && registro.materia === materia) {
                                arr.push(registro.nota)
                                return
                            }
                        });

                    }
                    
                });
                notasComputadas.push(arr)
            })
            %> 
            <div class="text-center item-border grow">
                Desenvolvimento Escolar
            </div>
            <div class="flex flex-column grow">
                <div class="flex grow">
                    <div>
                        <div class="flex flex-column">
                            <div class="text-center item-border" style="height: 48px;">
                                Componentes<br>Curriculares
                            </div>
                            <div class="flex flex-column">
                                <% materias.forEach(materia => { %>
                                    <div class="item-border">
                                        <%= materia %> 
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column grow">
                        <div class="text-center item-border">
                            Resultado das Unidades
                        </div>
                        <div>
                            <div class="flex" style="flex-grow: 1;">
                                <% unidades.forEach(item => { %> 
                                    <div class="text-center item-border" style="flex-grow: 1;">
                                        <%= item %> 
                                    </div>
                                <% }) %> 
                            </div>
                        </div>
                        <div class="flex flex-column">
                            <% notasComputadas.forEach(arr => { %>
                                <div class="flex">
                                    <% arr.forEach(item => { %>
                                        <div style="flex: 1;" class="item-border text-center">
                                            <%= item %>
                                        </div>
                                    <% }) %> 
                                </div>
                            <% }) %> 
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="grow item-border text-center">
                        Total de Dias Letivos: <%= desenvolvimento_escolar.dias_letivos %> 
                    </div>
                    <div class="grow item-border text-center">
                        Total de Faltas: <%= desenvolvimento_escolar.total_faltas %> 
                    </div>
                    <div class="grow item-border text-center">
                        Frequência: (<%= desenvolvimento_escolar.percentagem_frequencia %>) %
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>