<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:2000/assets/css/font.css">
    <%- include("../css/ficha.ejs") %>
    <%- include("../css/common.ejs") %> 
    <style>
        .text{
            position: relative;
            left: -70px;
        }
        .text2{
            position: relative;
            left: -40px;
            max-height:50px;
        }
        .text-vertical{
            max-width: 30px;
            transform: rotate(270deg);
            position: relative;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <% 
    function remover_acentos_espaco(str) {
        return str.normalize("NFD").replace(/[^a-zA-Zs]/g, "");
    }
     %> 
    <div>
        <%- include("../reusable/header.ejs") %>
        <h2 class="page-title">RENDIMENTO ESCOLAR</h2>
        <div class="flex flex-column small-gap">
            <div class="multicolumn">
                <b class="pad-right">Aluno (a):</b>
                <div class="text-line"><%= aluno_nome %> <%= aluno_sobrenome %></div>
            </div>
            <div class="flex" style="gap: 10px;">

                <div class="multicolumn" style="max-width: 220px;">
                    <b class="pad-right">Turma:</b>
                    <div class="text-line"><%= nome_turma %></div>
                </div>  
                <div class="multicolumn">
                    <b class="pad-right">ID da Turma:</b>
                    <div class="text-line"><%= id_turma %></div>
                </div>
                <div class="multicolumn" style="max-width: 140px;">
                    <b class="pad-right">Turno:</b>
                    <div class="text-line"><%= nome_turno %></div>
                </div>
                <div class="multicolumn" style="max-width: 130px;">
                    <b class="pad-right">Ano Letivo:</b>
                    <div class="text-line"><%= nome_ano_letivo %> </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 15px;">
            <table class="table">
                <tr>
                    <td></td>
                    <th colspan="10">BASE NACIONAL COMUM</th>
                    <th colspan="3">PARTE DIVERSIFICADA</th>
                </tr>
                <tr>
                    <th class="text-vertical" style="height: 105px;"><span style="left: -30px;" class="text">UNIDADE</span></th>
                    <td><span style="">COMPONENTES CURRICULARES</span><br><span style="">RENDIMENTO ESCOLAR</span></td>
                    <!-- materias -->
                    <th class="text-vertical"><span class="text2">LÍNGUA <br> PORTUGUESA</span></th>
                    <th class="text-vertical"><span class="text2">ARTE</span></th>
                    <th class="text-vertical"><span class="text2">EDUCAÇÃO <br> FÍSICA</span></th>
                    <th class="text-vertical"><span class="text2">LÍNGUA <br> INGLESA</span></th>
                    <th class="text-vertical"><span class="text2">MATEMÁTICA</span></th>
                    <th class="text-vertical"><span class="text2">CIÊCIAS</span></th>
                    <th class="text-vertical"><span class="text2">HISTÓRIA</span></th>
                    <th class="text-vertical"><span class="text2">GEOGRAFICA</span></th>
                    <th class="text-vertical"><span class="text2">ENSINO <br> RELIGIOSO</span></th>

                    <% parte_diversificada.forEach(element => { %>
                        <th class="text-vertical"><span style="left: -30px;" class="text2"><%= element %> </span></th>

                    <% }) %>
                </tr>
                <!-- unidades -->

                <% var dici = ["linguaportuguesa","arte","educacaofisica","linguainglesa","matematica","ciencias","historia","geografia","ensinoreligioso" ] %> 
                <% 
                for (let index = 0; index < parte_diversificada.length; index++) {
                    const element = parte_diversificada[index];
                    dici.push(element)
                    
                }
                

                %> 
                <% var unidade = ["1 unidade", "2 unidade","3 unidade", "4 unidade"] %> 
                <!-- unidade 1 -->
                <tr>
                    <th rowspan="4" class="text-vertical" style="max-height: 50px;"><span style="left: -30px;" class="text">1º UNI</span></th>
                    <th>AV1</th>
                    <% avaliacao1.forEach((element,index) => { %>.
                     <% if ((element.unidade_av1).toLowerCase() == unidade[0]) { %>
                      <% if (remover_acentos_espaco(element.diciplina_av1).toLowerCase() == dici[index]) { %>
                        <% if (element.nota_av1 == null) { %>
                         <th>*</th>
                        <% }else{%>
                            <td style="text-align: center;"><%= element.nota_av1 %> </td>
                        <%} %>
                      <% } %>
                     <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>AV2</th>
                    <% avaliacao2.forEach((element,index) => { %>
                        <% if ((element.unidade_av2).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_av2).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_av2 == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_av2 %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>Recuperação</th>
                    <% recuperacao.forEach((element,index) => { %>
                        <% if ((element.unidade_rec).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_rec).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_rec == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_rec %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>Média Final do Período</th>
                    <% media_final_periodo.forEach((element,index) => { %>
                        <% if ((element.unidade_media).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_media).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_media == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_media %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>

                <!-- unidade 2 -->

                <tr>
                    <th rowspan="4" class="text-vertical" style="max-height: 50px;"><span style="left: -30px;" class="text">2º UNI</span></th>
                    <th>AV1</th>
                    <% avaliacao1.forEach((element,index) => { %>.
                     <% if ((element.unidade_av1).toLowerCase() == unidade[1]) { %>
                      <% if (remover_acentos_espaco(element.diciplina_av1).toLowerCase() == dici[index]) { %>
                        <% if (element.nota_av1 == null) { %>
                         <th>*</th>
                        <% }else{%>
                            <td style="text-align: center;"><%= element.nota_av1 %> </td>
                        <%} %>
                      <% } %>
                     <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>AV2</th>
                    <% avaliacao2.forEach((element,index) => { %>
                        <% if ((element.unidade_av2).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_av2).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_av2 == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_av2 %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>Recuperação</th>
                    <% recuperacao.forEach((element,index) => { %>
                        <% if ((element.unidade_rec).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_rec).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_rec == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_rec %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>Média Final do Período</th>
                    <% media_final_periodo.forEach((element,index) => { %>
                        <% if ((element.unidade_media).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_media).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_rec == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_media %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>

                <!-- unidade 3 -->

                <tr>
                    <th rowspan="4" class="text-vertical" style="max-height: 50px;"><span style="left: -30px;" class="text">3º UNI</span></th>
                    <th>AV1</th>
                    <% avaliacao1.forEach((element,index) => { %>.
                     <% if ((element.unidade_av1).toLowerCase() == unidade[2]) { %>
                      <% if (remover_acentos_espaco(element.diciplina_av1).toLowerCase() == dici[index]) { %>
                        <% if (element.nota_av1 == null) { %>
                         <th>*</th>
                        <% }else{%>
                            <td style="text-align: center;"><%= element.nota_av1 %> </td>
                        <%} %>
                      <% } %>
                     <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>AV2</th>
                    <% avaliacao2.forEach((element,index) => { %>
                        <% if ((element.unidade_av2).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_av2).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_av2 == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_av2 %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>Recuperação</th>
                    <% recuperacao.forEach((element,index) => { %>
                        <% if ((element.unidade_rec).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_rec).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_rec == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_rec %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>Média Final do Período</th>
                    <% media_final_periodo.forEach((element,index) => { %>
                        <% if ((element.unidade_media).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_media).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_rec == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_media %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>

                <!-- unidade 4 -->

                <tr>
                    <th rowspan="4" class="text-vertical" style="max-height: 50px;"><span style="left: -30px;" class="text">4º UNI</span></th>
                    <th>AV1</th>
                    <% avaliacao1.forEach((element,index) => { %>.
                     <% if ((element.unidade_av1).toLowerCase() == unidade[3]) { %>
                      <% if (remover_acentos_espaco(element.diciplina_av1).toLowerCase() == dici[index]) { %>
                        <% if (element.nota_av1 == null) { %>
                         <th>*</th>
                        <% }else{%>
                            <td style="text-align: center;"><%= element.nota_av1 %> </td>
                        <%} %>
                      <% } %>
                     <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>AV2</th>
                    <% avaliacao2.forEach((element,index) => { %>
                        <% if ((element.unidade_av2).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_av2).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_av2 == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_av2 %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>Recuperação</th>
                    <% recuperacao.forEach((element,index) => { %>
                        <% if ((element.unidade_rec).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_rec).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_rec == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_rec %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th>Média Final do Período</th>
                    <% media_final_periodo.forEach((element,index) => { %>
                        <% if ((element.unidade_media).toLowerCase() == unidade[0]) { %>
                            <% if (remover_acentos_espaco(element.diciplina_media).toLowerCase() == dici[index]) { %>
                              <% if (element.nota_rec == null) { %>
                               <th>*</th>
                              <% }else{%>
                                  <td style="text-align: center;"><%= element.nota_media %> </td>
                              <%} %>
                            <% } %>
                           <% } %>
                    <% }) %>
                </tr>

                
                <!-- outros -->
                <tr>
                    <th colspan="2" style="height: 10px;">MÉDIA ANUAL</th>
                    <% media_anual.forEach((element,index) => { %>
                        <% if (remover_acentos_espaco(element.materia_media_anual).toLowerCase() == dici[index]) { %>
                            <% if (element.media_anual == null) { %>
                             <th>*</th>
                            <% }else{%>
                                <td style="text-align: center;"><%= element.media_anual %> </td>
                            <%} %>
                          <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th colspan="2" style="height: 10px; font-size: 14px;">NOTA DA RECUPERAÇÃO FINAL</th>
                    <% recuperacao_final.forEach((element,index) => { %>
                        <% if (remover_acentos_espaco(element.materia_rec_final).toLowerCase() == dici[index]) { %>
                            <% if (element.rec_final == null) { %>
                             <th>*</th>
                            <% }else{%>
                                <td style="text-align: center;"><%= element.rec_final %> </td>
                            <%} %>
                          <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th colspan="2" style="height: 10px;">MÉDIA FINAL ANUAL</th>
                    <% media_final.forEach((element,index) => { %>
                        <% if (remover_acentos_espaco(element.materia_media_final).toLowerCase() == dici[index]) { %>
                            <% if (element.media_final == null) { %>
                             <th>*</th>
                            <% }else{%>
                                <td style="text-align: center;"><%= element.media_final %> </td>
                            <%} %>
                          <% } %>
                    <% }) %>
                </tr>
                <tr >
                    <td colspan="3" style="height: 10px; font-size: 12px;"><b>TOTAL DE DIAS LETIVOS:</b> ( <%= dias_letivos %>  )</td>
                    <td colspan="6" style="font-size: 12px;"><b>TOTAL DE FALTAS:</b> ( <%= faltas %>  )</td>
                    <td colspan="5" style="font-size: 12px;"><b>FREQUÊNCIA %:</b> ( <%= frequencia %>%  )</td>
                </tr>
                <tr>
                    <td colspan="14" style="height: 10px; font-size: 12px;"><b>RESULTADO FINAL:</b> ( <%= resultado_final == true ? "X" : "" %> ) Aprovado    ( <%= resultado_final == false ? "X" : "" %> ) Reprovado</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>